In [1]:
# dependencies and setup
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, func, ForeignKey
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Date, Integer, String, Float

In [2]:
# files to load
file1 = "Raw_Data/IMDB movies.csv"
file2 = "Raw_Data/rotten_tomatoes_movies.csv"

# read files and store into pandas dataframe
IMDB_movies = pd.read_csv(file1, low_memory=False)
rotten_tomatoes = pd.read_csv(file2, low_memory=False)

In [3]:
# view IMDB_movies dataframe
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
# rename IMDB avg_vote to ratings
IMDB_movies = IMDB_movies.rename(columns={"avg_vote":"imdb_ratings", "worlwide_gross_income":"worldwide_gross_income"})
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [5]:
# remove metascore, reviews_from_users, and reviews_from_critics from IMDB
IMDB_movies = IMDB_movies.drop(columns=['metascore', 'reviews_from_users', 'reviews_from_critics'])
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN

In [6]:
#Look at the data types of all the columns
IMDB_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_title_id           85855 non-null  object
 1   title                   85855 non-null  object
 2   original_title          85855 non-null  object
 3   year                    85855 non-null  object
 4   date_published          85855 non-null  object
 5   genre                   85855 non-null  object
 6   duration                85855 non-null  int64
 7   country                 85791 non-null  object
 8   language                85022 non-null  object
 9   director                85768 non-null  object
 10  writer                  84283 non-null  object
 11  production_company      81400 non-null  object
 12  actors                  85786 non-null  object
 13  description             83740 non-null  object
 14  imdb_ratings            85855 non-null  float64
 15  votes                   85855 non-null  int64
 16  budget                  23710 non-null  object
 17  usa_gross_income        15326 non-null  object
 18  worldwide_gross_income  31016 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 12.4+ MB

In [7]:
#Checks max lenghts of all string i.e. object columns
for c in IMDB_movies:
    if IMDB_movies[c].dtype=='object':
        print(f'{c} {IMDB_movies[c].str.len().max()}')

imdb_title_id 10
title 196
original_title 196
year 13
date_published 13
genre 31
country 225.0
language 163.0
director 62.0
writer 64.0
production_company 101.0
actors 415.0
description 402.0
budget 16.0
usa_gross_income 12.0
worldwide_gross_income 14.0

In [8]:
#Year should be integer, checking which values are forcing pandas to make it string i.e. object
IMDB_movies['year'].unique()

array(['1894', '1906', '1911', '1912', '1919', '1913', '1914', '1915',
       '1916', '1917', '1918', '1920', '1921', '1924', '1922', '1923',
       '1925', '1926', '1935', '1927', '1928', '1983', '1929', '1930',
       '1932', '1931', '1937', '1938', '1933', '1934', '1936', '1940',
       '1939', '1942', '1943', '1941', '1948', '1944', '2001', '1946',
       '1945', '1947', '1973', '1949', '1950', '1952', '1951', '1962',
       '1953', '1954', '1955', '1961', '1956', '1958', '1957', '1959',
       '1960', '1963', '1965', '1971', '1964', '1966', '1968', '1967',
       '1969', '1976', '1970', '1979', '1972', '1981', '1978', '2000',
       '1989', '1975', '1974', '1986', '1990', '2018', '1977', '1982',
       '1980', '1993', '1984', '1985', '1988', '1987', '2005', '1991',
       '2002', '1994', '1992', '1995', '2017', '1997', '1996', '2006',
       '1999', '1998', '2007', '2008', '2003', '2004', '2010', '2009',
       '2011', '2013', '2012', '2016', '2015', '2014', '2019', '2020',
       'TV Movie 2019'], dtype=object)

In [9]:
#Replacing 'TV Movie 2019' to '2019'
IMDB_movies['year']= IMDB_movies['year'].replace(['TV Movie 2019'],2019)

In [10]:
#Data After Replacing
IMDB_movies['year'].unique()

array(['1894', '1906', '1911', '1912', '1919', '1913', '1914', '1915',
       '1916', '1917', '1918', '1920', '1921', '1924', '1922', '1923',
       '1925', '1926', '1935', '1927', '1928', '1983', '1929', '1930',
       '1932', '1931', '1937', '1938', '1933', '1934', '1936', '1940',
       '1939', '1942', '1943', '1941', '1948', '1944', '2001', '1946',
       '1945', '1947', '1973', '1949', '1950', '1952', '1951', '1962',
       '1953', '1954', '1955', '1961', '1956', '1958', '1957', '1959',
       '1960', '1963', '1965', '1971', '1964', '1966', '1968', '1967',
       '1969', '1976', '1970', '1979', '1972', '1981', '1978', '2000',
       '1989', '1975', '1974', '1986', '1990', '2018', '1977', '1982',
       '1980', '1993', '1984', '1985', '1988', '1987', '2005', '1991',
       '2002', '1994', '1992', '1995', '2017', '1997', '1996', '2006',
       '1999', '1998', '2007', '2008', '2003', '2004', '2010', '2009',
       '2011', '2013', '2012', '2016', '2015', '2014', '2019', '2020',
       2019], dtype=object)

In [11]:
#Convert Year to Integer from Object i.e. string
IMDB_movies['year']=pd.to_numeric(IMDB_movies['year'])

In [12]:
#verify after conversion
IMDB_movies['year'].dtype

dtype('int64')

In [13]:
#Date Published should be date, checking which values are forcing pandas to make it string i.e. object
IMDB_movies['date_published'].unique()
#Looking at it typically all values are of length 10 (yyyy-mm-dd)

array(['1894-10-09', '1906-12-26', '1911-08-19', ..., '2020-10-22',
       '2019-01-13', '2020-09-04'], dtype=object)

In [14]:
#Finding the value that has length greater than 10
[x for x in IMDB_movies['date_published'] if len(x) > 10]

['TV Movie 2019']

In [15]:
#Finding the movie with publised data of 'TV Movie 2019'
IMDB_movies[IMDB_movies['date_published']=='TV Movie 2019']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income
83917,tt8206668,Bad Education,Bad Education,2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,"Mike Makowsky, Robert Kolker",HBO Films,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN

In [16]:
#By google search release date of "Bad Education" was 8th Sept 2019
#Replacing the date to 8th Sept 2019
IMDB_movies['date_published']= IMDB_movies['date_published'].replace(['TV Movie 2019'],'2019-09-08')

In [17]:
#Convert date_published to Date from Object i.e. string
IMDB_movies['date_published']=pd.to_datetime(IMDB_movies['date_published'],format='%Y-%m-%d')

In [18]:
#Verify datatype after conversion
IMDB_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_title_id           85855 non-null  object
 1   title                   85855 non-null  object
 2   original_title          85855 non-null  object
 3   year                    85855 non-null  int64
 4   date_published          85855 non-null  datetime64[ns]
 5   genre                   85855 non-null  object
 6   duration                85855 non-null  int64
 7   country                 85791 non-null  object
 8   language                85022 non-null  object
 9   director                85768 non-null  object
 10  writer                  84283 non-null  object
 11  production_company      81400 non-null  object
 12  actors                  85786 non-null  object
 13  description             83740 non-null  object
 14  imdb_ratings            85855 non-null  float64
 15  votes                   85855 non-null  int64
 16  budget                  23710 non-null  object
 17  usa_gross_income        15326 non-null  object
 18  worldwide_gross_income  31016 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(14)
memory usage: 12.4+ MB

In [19]:
# view Rotten Tomatoes dataframe
rotten_tomatoes.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2/12/2010,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",4/30/2010,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",10/5/1979,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",4/13/1957,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1/1/1954,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [20]:
rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [21]:
#Date Published should be date, checking which values are forcing pandas to make it string i.e. object
rotten_tomatoes['original_release_date'].unique()
#Looking at it typically all values are of length 10 (mm/dd/yyyy)

array(['2/12/2010', '4/30/2010', '10/5/1979', ..., '10/2/1981',
       '12/17/1964', '6/17/1964'], dtype=object)

In [22]:
#Convert date_published to Date from Object i.e. string
rotten_tomatoes['original_release_date']=pd.to_datetime(rotten_tomatoes['original_release_date'],format='%m/%d/%Y')

In [23]:
#Convert date_published to Date from Object i.e. string
rotten_tomatoes['streaming_release_date']=pd.to_datetime(rotten_tomatoes['streaming_release_date'],format='%m/%d/%Y')

In [24]:
rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  datetime64[ns]
 10  streaming_release_date            17328 non-null  datetime64[ns]
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(12)
memory usage: 3.0+ MB

In [25]:
merged_movies=IMDB_movies.merge(rotten_tomatoes, how='left', left_on=['original_title','date_published'], right_on=['movie_title','original_release_date'],suffixes=('_imdb','_rt'))
merged_movies.head(20)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,production_company_rt,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0002646,Atlantis,Atlantis,1913,1913-12-26,Drama,121,Denmark,Danish,August Blom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",54,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0003037,Juve contre Fantômas,Juve contre Fantômas,1913,1913-09-08,"Crime, Drama",61,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0003102,Ma l'amor mio non muore...,Ma l'amor mio non muore...,1914,1914-01-01,Drama,90,Italy,Italian,Mario Caserini,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,tt0003131,Maudite soit la guerre,Maudite soit la guerre,1914,1914-05-01,"Drama, War",50,Belgium,French,Alfred Machin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,tt0003165,Le mort qui tue,Le mort qui tue,1913,1913-11-06,"Crime, Drama, Mystery",90,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,55,USA,English,D.W. Griffith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,tt0003419,Lo studente di Praga,Der Student von Prag,1913,1913-08-22,"Drama, Fantasy, Horror",85,Germany,"German, English","Paul Wegener, Stellan Rye",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
len(IMDB_movies)

85855

In [27]:
len(rotten_tomatoes)

17712

In [28]:
len(merged_movies)

85855

In [29]:
# remove audience_status
merged_movies = merged_movies.drop(columns=['audience_status'])
merged_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,runtime,production_company_rt,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85855 entries, 0 to 85854
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   imdb_title_id                     85855 non-null  object
 1   title                             85855 non-null  object
 2   original_title                    85855 non-null  object
 3   year                              85855 non-null  int64
 4   date_published                    85855 non-null  datetime64[ns]
 5   genre                             85855 non-null  object
 6   duration                          85855 non-null  int64
 7   country                           85791 non-null  object
 8   language                          85022 non-null  object
 9   director                          85768 non-null  object
 10  writer                            84283 non-null  object
 11  production_company_imdb           81400 non-null  object
 12  actors_imdb                       85786 non-null  object
 13  description                       83740 non-null  object
 14  imdb_ratings                      85855 non-null  float64
 15  votes                             85855 non-null  int64
 16  budget                            23710 non-null  object
 17  usa_gross_income                  15326 non-null  object
 18  worldwide_gross_income            31016 non-null  object
 19  rotten_tomatoes_link              2643 non-null   object
 20  movie_title                       2643 non-null   object
 21  movie_info                        2629 non-null   object
 22  critics_consensus                 1053 non-null   object
 23  content_rating                    2643 non-null   object
 24  genres                            2641 non-null   object
 25  directors                         2614 non-null   object
 26  authors                           2575 non-null   object
 27  actors_rt                         2635 non-null   object
 28  original_release_date             2643 non-null   datetime64[ns]
 29  streaming_release_date            2625 non-null   datetime64[ns]
 30  runtime                           2624 non-null   float64
 31  production_company_rt             2601 non-null   object
 32  tomatometer_status                2637 non-null   object
 33  tomatometer_rating                2637 non-null   float64
 34  tomatometer_count                 2637 non-null   float64
 35  audience_rating                   2628 non-null   float64
 36  audience_count                    2628 non-null   float64
 37  tomatometer_top_critics_count     2643 non-null   float64
 38  tomatometer_fresh_critics_count   2643 non-null   float64
 39  tomatometer_rotten_critics_count  2643 non-null   float64
dtypes: datetime64[ns](3), float64(9), int64(3), object(25)
memory usage: 26.9+ MB

In [31]:
#declarative Base
Base = declarative_base()

In [32]:
#Create Engine movies_db
engine = create_engine("sqlite:///movies_db.sqlite")

In [33]:
# This creates the DB (movies_dv.sqllite) and connects to it
conn = engine.connect()

In [34]:
#Define class i.e table to be created in DB
class Movies(Base):
    __tablename__='movies'
    imdb_title_id = Column(String, primary_key=True)
    title = Column(String)
    original_title = Column(String)
    year = Column(Integer)
    date_published = Column(Date)
    genre = Column(String)
    duration = Column(Integer)
    country = Column(String)
    language = Column(String)
    director = Column(String)
    writer = Column(String)
    production_company_imdb = Column(String)
    actors_imdb = Column(String)
    description = Column(String)
    imdb_ratings = Column(Float)
    votes = Column(Integer)
    budget = Column(String)
    usa_gross_income = Column(String)
    worldwide_gross_income = Column(String)
    rotten_tomatoes_link = Column(String)
    movie_title = Column(String)
    movie_info = Column(String)
    critics_consensus = Column(String)
    content_rating = Column(String)
    genres = Column(String)
    directors = Column(String)
    authors = Column(String)
    actors_rt = Column(String)
    original_release_date = Column(Date)
    streaming_release_date = Column(Date)
    runtime = Column(Float)
    production_company_rt = Column(String)
    tomatometer_status = Column(String)
    tomatometer_rating = Column(Float)
    tomatometer_count = Column(Float)
    audience_rating = Column(Float)
    audience_count = Column(Float)
    tomatometer_top_critics_count = Column(Float)
    tomatometer_fresh_critics_count = Column(Float)
    tomatometer_rotten_critics_count = Column(Float)

In [35]:
# Create the imdb_movie class
class imdb_movie(Base):
    __tablename__ = 'imdb_top_250_movies'
    title = Column(String, primary_key=True)
    movie_name = Column(String)

In [36]:
#Creates 'movies' and "imdb_top_250_movies" tables in DB
Base.metadata.create_all(engine)

In [37]:
#Inserts data from movies_csv to movies table in movies_db sqlite DB.
merged_movies.to_sql('movies',conn,index=False,if_exists='append')

In [38]:
#Close Connection
conn.close()

In [39]:
# To push the objects made and query the server we use a Session object
session = Session(bind=engine)

In [40]:
# create url variable
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [41]:
# Retrieve page with the requests module
response = requests.get(url)

In [42]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [43]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [44]:
# results are returned as an iterable list
top_250_results = soup.find_all('td', class_="titleColumn")

In [45]:
# Loop through returned results
for result in top_250_results:
    # Error handling
    try:
        # Identify and return title of listing
        title_name = result.find('a').text
        # Identify and return link to listing
        link = result.a['href']
        title_strings = link.split('/')
        

        # Print results only if title, price, and link are available
        if (title_name and link):
            print('-------------')
            print(title_name)
            print(link)
            print(title_strings[2])
            imdb_title_id = title_strings[2]
            # Create  instances of the imdb movie class
            movie = imdb_movie(title=imdb_title_id, movie_name=title_name)
            # Add these objects to the session
            session.add(movie)
                                   
    except AttributeError as e:
        print(e)

-------------
The Shawshank Redemption
/title/tt0111161/
tt0111161
-------------
The Godfather
/title/tt0068646/
tt0068646
-------------
The Godfather: Part II
/title/tt0071562/
tt0071562
-------------
The Dark Knight
/title/tt0468569/
tt0468569
-------------
12 Angry Men
/title/tt0050083/
tt0050083
-------------
Schindler's List
/title/tt0108052/
tt0108052
-------------
The Lord of the Rings: The Return of the King
/title/tt0167260/
tt0167260
-------------
Pulp Fiction
/title/tt0110912/
tt0110912
-------------
The Good, the Bad and the Ugly
/title/tt0060196/
tt0060196
-------------
The Lord of the Rings: The Fellowship of the Ring
/title/tt0120737/
tt0120737
-------------
Fight Club
/title/tt0137523/
tt0137523
-------------
Forrest Gump
/title/tt0109830/
tt0109830
-------------
Inception
/title/tt1375666/
tt1375666
-------------
The Lord of the Rings: The Two Towers
/title/tt0167261/
tt0167261
-------------
Star Wars: Episode V - The Empire Strikes Back
/title/tt0080684/
tt0080684
-------------
The Matrix
/title/tt0133093/
tt0133093
-------------
Goodfellas
/title/tt0099685/
tt0099685
-------------
One Flew Over the Cuckoo's Nest
/title/tt0073486/
tt0073486
-------------
Seven Samurai
/title/tt0047478/
tt0047478
-------------
Se7en
/title/tt0114369/
tt0114369
-------------
The Silence of the Lambs
/title/tt0102926/
tt0102926
-------------
City of God
/title/tt0317248/
tt0317248
-------------
Life Is Beautiful
/title/tt0118799/
tt0118799
-------------
It's a Wonderful Life
/title/tt0038650/
tt0038650
-------------
Saving Private Ryan
/title/tt0120815/
tt0120815
-------------
Star Wars: Episode IV - A New Hope
/title/tt0076759/
tt0076759
-------------
Interstellar
/title/tt0816692/
tt0816692
-------------
Spirited Away
/title/tt0245429/
tt0245429
-------------
The Green Mile
/title/tt0120689/
tt0120689
-------------
Parasite
/title/tt6751668/
tt6751668
-------------
Léon: The Professional
/title/tt0110413/
tt0110413
-------------
Hara-Kiri
/title/tt0056058/
tt0056058
-------------
The Pianist
/title/tt0253474/
tt0253474
-------------
Terminator 2: Judgment Day
/title/tt0103064/
tt0103064
-------------
Back to the Future
/title/tt0088763/
tt0088763
-------------
The Usual Suspects
/title/tt0114814/
tt0114814
-------------
Psycho
/title/tt0054215/
tt0054215
-------------
The Lion King
/title/tt0110357/
tt0110357
-------------
Modern Times
/title/tt0027977/
tt0027977
-------------
American History X
/title/tt0120586/
tt0120586
-------------
Grave of the Fireflies
/title/tt0095327/
tt0095327
-------------
City Lights
/title/tt0021749/
tt0021749
-------------
Whiplash
/title/tt2582802/
tt2582802
-------------
Gladiator
/title/tt0172495/
tt0172495
-------------
The Departed
/title/tt0407887/
tt0407887
-------------
The Intouchables
/title/tt1675434/
tt1675434
-------------
The Prestige
/title/tt0482571/
tt0482571
-------------
Casablanca
/title/tt0034583/
tt0034583
-------------
Once Upon a Time in the West
/title/tt0064116/
tt0064116
-------------
Rear Window
/title/tt0047396/
tt0047396
-------------
Cinema Paradiso
/title/tt0095765/
tt0095765
-------------
Alien
/title/tt0078748/
tt0078748
-------------
Apocalypse Now
/title/tt0078788/
tt0078788
-------------
Memento
/title/tt0209144/
tt0209144
-------------
Indiana Jones and the Raiders of the Lost Ark
/title/tt0082971/
tt0082971
-------------
The Great Dictator
/title/tt0032553/
tt0032553
-------------
The Lives of Others
/title/tt0405094/
tt0405094
-------------
Django Unchained
/title/tt1853728/
tt1853728
-------------
Paths of Glory
/title/tt0050825/
tt0050825
-------------
Sunset Blvd.
/title/tt0043014/
tt0043014
-------------
WALL·E
/title/tt0910970/
tt0910970
-------------
Avengers: Infinity War
/title/tt4154756/
tt4154756
-------------
Witness for the Prosecution
/title/tt0051201/
tt0051201
-------------
The Shining
/title/tt0081505/
tt0081505
-------------
Spider-Man: Into the Spider-Verse
/title/tt4633694/
tt4633694
-------------
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
/title/tt0057012/
tt0057012
-------------
Princess Mononoke
/title/tt0119698/
tt0119698
-------------
Oldboy
/title/tt0364569/
tt0364569
-------------
Joker
/title/tt7286456/
tt7286456
-------------
Your Name.
/title/tt5311514/
tt5311514
-------------
Coco
/title/tt2380307/
tt2380307
-------------
The Dark Knight Rises
/title/tt1345836/
tt1345836
-------------
Aliens
/title/tt0090605/
tt0090605
-------------
Once Upon a Time in America
/title/tt0087843/
tt0087843
-------------
Avengers: Endgame
/title/tt4154796/
tt4154796
-------------
Capernaum
/title/tt8267604/
tt8267604
-------------
Das Boot
/title/tt0082096/
tt0082096
-------------
High and Low
/title/tt0057565/
tt0057565
-------------
3 Idiots
/title/tt1187043/
tt1187043
-------------
Toy Story
/title/tt0114709/
tt0114709
-------------
American Beauty
/title/tt0169547/
tt0169547
-------------
Amadeus
/title/tt0086879/
tt0086879
-------------
Braveheart
/title/tt0112573/
tt0112573
-------------
Inglourious Basterds
/title/tt0361748/
tt0361748
-------------
Hamilton
/title/tt8503618/
tt8503618
-------------
Good Will Hunting
/title/tt0119217/
tt0119217
-------------
Star Wars: Episode VI - Return of the Jedi
/title/tt0086190/
tt0086190
-------------
2001: A Space Odyssey
/title/tt0062622/
tt0062622
-------------
Reservoir Dogs
/title/tt0105236/
tt0105236
-------------
M
/title/tt0022100/
tt0022100
-------------
Like Stars on Earth
/title/tt0986264/
tt0986264
-------------
Vertigo
/title/tt0052357/
tt0052357
-------------
Come and See
/title/tt0091251/
tt0091251
-------------
Citizen Kane
/title/tt0033467/
tt0033467
-------------
The Hunt
/title/tt2106476/
tt2106476
-------------
Requiem for a Dream
/title/tt0180093/
tt0180093
-------------
Singin' in the Rain
/title/tt0045152/
tt0045152
-------------
North by Northwest
/title/tt0053125/
tt0053125
-------------
Eternal Sunshine of the Spotless Mind
/title/tt0338013/
tt0338013
-------------
Bicycle Thieves
/title/tt0040522/
tt0040522
-------------
Ikiru
/title/tt0044741/
tt0044741
-------------
Lawrence of Arabia
/title/tt0056172/
tt0056172
-------------
The Kid
/title/tt0012349/
tt0012349
-------------
Full Metal Jacket
/title/tt0093058/
tt0093058
-------------
Dangal
/title/tt5074352/
tt5074352
-------------
The Apartment
/title/tt0053604/
tt0053604
-------------
Incendies
/title/tt1255953/
tt1255953
-------------
The Father
/title/tt10272386/
tt10272386
-------------
Double Indemnity
/title/tt0036775/
tt0036775
-------------
Metropolis
/title/tt0017136/
tt0017136
-------------
A Clockwork Orange
/title/tt0066921/
tt0066921
-------------
Taxi Driver
/title/tt0075314/
tt0075314
-------------
A Separation
/title/tt1832382/
tt1832382
-------------
Pather Panchali
/title/tt0048473/
tt0048473
-------------
The Sting
/title/tt0070735/
tt0070735
-------------
Scarface
/title/tt0086250/
tt0086250
-------------
Snatch
/title/tt0208092/
tt0208092
-------------
1917
/title/tt8579674/
tt8579674
-------------
Amélie
/title/tt0211915/
tt0211915
-------------
To Kill a Mockingbird
/title/tt0056592/
tt0056592
-------------
Toy Story 3
/title/tt0435761/
tt0435761
-------------
For a Few Dollars More
/title/tt0059578/
tt0059578
-------------
Up
/title/tt1049413/
tt1049413
-------------
Indiana Jones and the Last Crusade
/title/tt0097576/
tt0097576
-------------
Heat
/title/tt0113277/
tt0113277
-------------
L.A. Confidential
/title/tt0119488/
tt0119488
-------------
Yojimbo
/title/tt0055630/
tt0055630
-------------
Die Hard
/title/tt0095016/
tt0095016
-------------
Ran
/title/tt0089881/
tt0089881
-------------
Rashomon
/title/tt0042876/
tt0042876
-------------
Green Book
/title/tt6966692/
tt6966692
-------------
Jai Bhim
/title/tt15097216/
tt15097216
-------------
Downfall
/title/tt0363163/
tt0363163
-------------
Monty Python and the Holy Grail
/title/tt0071853/
tt0071853
-------------
All About Eve
/title/tt0042192/
tt0042192
-------------
Some Like It Hot
/title/tt0053291/
tt0053291
-------------
Batman Begins
/title/tt0372784/
tt0372784
-------------
Unforgiven
/title/tt0105695/
tt0105695
-------------
Children of Heaven
/title/tt0118849/
tt0118849
-------------
Howl's Moving Castle
/title/tt0347149/
tt0347149
-------------
The Wolf of Wall Street
/title/tt0993846/
tt0993846
-------------
Judgment at Nuremberg
/title/tt0055031/
tt0055031
-------------
The Great Escape
/title/tt0057115/
tt0057115
-------------
There Will Be Blood
/title/tt0469494/
tt0469494
-------------
Casino
/title/tt0112641/
tt0112641
-------------
The Treasure of the Sierra Madre
/title/tt0040897/
tt0040897
-------------
Pan's Labyrinth
/title/tt0457430/
tt0457430
-------------
A Beautiful Mind
/title/tt0268978/
tt0268978
-------------
The Secret in Their Eyes
/title/tt1305806/
tt1305806
-------------
Raging Bull
/title/tt0081398/
tt0081398
-------------
Dersu Uzala
/title/tt0071411/
tt0071411
-------------
Chinatown
/title/tt0071315/
tt0071315
-------------
My Neighbor Totoro
/title/tt0096283/
tt0096283
-------------
Lock, Stock and Two Smoking Barrels
/title/tt0120735/
tt0120735
-------------
Shutter Island
/title/tt1130884/
tt1130884
-------------
The Gold Rush
/title/tt0015864/
tt0015864
-------------
No Country for Old Men
/title/tt0477348/
tt0477348
-------------
Dial M for Murder
/title/tt0046912/
tt0046912
-------------
The Thing
/title/tt0084787/
tt0084787
-------------
The Seventh Seal
/title/tt0050976/
tt0050976
-------------
Three Billboards Outside Ebbing, Missouri
/title/tt5027774/
tt5027774
-------------
The Elephant Man
/title/tt0080678/
tt0080678
-------------
Klaus
/title/tt4729430/
tt4729430
-------------
The Sixth Sense
/title/tt0167404/
tt0167404
-------------
Dune
/title/tt1160419/
tt1160419
-------------
Wild Strawberries
/title/tt0050986/
tt0050986
-------------
The Third Man
/title/tt0041959/
tt0041959
-------------
The Truman Show
/title/tt0120382/
tt0120382
-------------
Jurassic Park
/title/tt0107290/
tt0107290
-------------
Memories of Murder
/title/tt0353969/
tt0353969
-------------
V for Vendetta
/title/tt0434409/
tt0434409
-------------
Blade Runner
/title/tt0083658/
tt0083658
-------------
Trainspotting
/title/tt0117951/
tt0117951
-------------
Inside Out
/title/tt2096673/
tt2096673
-------------
The Bridge on the River Kwai
/title/tt0050212/
tt0050212
-------------
Fargo
/title/tt0116282/
tt0116282
-------------
Warrior
/title/tt1291584/
tt1291584
-------------
Finding Nemo
/title/tt0266543/
tt0266543
-------------
Kill Bill: Vol. 1
/title/tt0266697/
tt0266697
-------------
Gone with the Wind
/title/tt0031381/
tt0031381
-------------
Tokyo Story
/title/tt0046438/
tt0046438
-------------
On the Waterfront
/title/tt0047296/
tt0047296
-------------
My Father and My Son
/title/tt0476735/
tt0476735
-------------
Wild Tales
/title/tt3011894/
tt3011894
-------------
Stalker
/title/tt0079944/
tt0079944
-------------
The Deer Hunter
/title/tt0077416/
tt0077416
-------------
Z
/title/tt0065234/
tt0065234
-------------
Prisoners
/title/tt1392214/
tt1392214
-------------
Sherlock Jr.
/title/tt0015324/
tt0015324
-------------
The Grand Budapest Hotel
/title/tt2278388/
tt2278388
-------------
The General
/title/tt0017925/
tt0017925
-------------
Gran Torino
/title/tt1205489/
tt1205489
-------------
Persona
/title/tt0060827/
tt0060827
-------------
Before Sunrise
/title/tt0112471/
tt0112471
-------------
Mary and Max
/title/tt0978762/
tt0978762
-------------
Catch Me If You Can
/title/tt0264464/
tt0264464
-------------
Mr. Smith Goes to Washington
/title/tt0031679/
tt0031679
-------------
In the Name of the Father
/title/tt0107207/
tt0107207
-------------
Barry Lyndon
/title/tt0072684/
tt0072684
-------------
Room
/title/tt3170832/
tt3170832
-------------
Gone Girl
/title/tt2267998/
tt2267998
-------------
Hacksaw Ridge
/title/tt2119532/
tt2119532
-------------
The Passion of Joan of Arc
/title/tt0019254/
tt0019254
-------------
Andhadhun
/title/tt8108198/
tt8108198
-------------
Ford v Ferrari
/title/tt1950186/
tt1950186
-------------
12 Years a Slave
/title/tt2024544/
tt2024544
-------------
To Be or Not to Be
/title/tt0035446/
tt0035446
-------------
The Big Lebowski
/title/tt0118715/
tt0118715
-------------
Autumn Sonata
/title/tt0077711/
tt0077711
-------------
Dead Poets Society
/title/tt0097165/
tt0097165
-------------
How to Train Your Dragon
/title/tt0892769/
tt0892769
-------------
Mad Max: Fury Road
/title/tt1392190/
tt1392190
-------------
Ben-Hur
/title/tt0052618/
tt0052618
-------------
Harry Potter and the Deathly Hallows: Part 2
/title/tt1201607/
tt1201607
-------------
Million Dollar Baby
/title/tt0405159/
tt0405159
-------------
The Wages of Fear
/title/tt0046268/
tt0046268
-------------
The Handmaiden
/title/tt4016934/
tt4016934
-------------
Stand by Me
/title/tt0092005/
tt0092005
-------------
Network
/title/tt0074958/
tt0074958
-------------
Logan
/title/tt3315342/
tt3315342
-------------
Gangs of Wasseypur
/title/tt1954470/
tt1954470
-------------
Cool Hand Luke
/title/tt0061512/
tt0061512
-------------
Hachi: A Dog's Tale
/title/tt1028532/
tt1028532
-------------
La Haine
/title/tt0113247/
tt0113247
-------------
The 400 Blows
/title/tt0053198/
tt0053198
-------------
A Silent Voice: The Movie
/title/tt5323662/
tt5323662
-------------
Platoon
/title/tt0091763/
tt0091763
-------------
Spotlight
/title/tt1895587/
tt1895587
-------------
Monsters, Inc.
/title/tt0198781/
tt0198781
-------------
Rebecca
/title/tt0032976/
tt0032976
-------------
Life of Brian
/title/tt0079470/
tt0079470
-------------
Hotel Rwanda
/title/tt0395169/
tt0395169
-------------
The Bandit
/title/tt0116231/
tt0116231
-------------
In the Mood for Love
/title/tt0118694/
tt0118694
-------------
Rush
/title/tt1979320/
tt1979320
-------------
Into the Wild
/title/tt0758758/
tt0758758
-------------
Rocky
/title/tt0075148/
tt0075148
-------------
Amores perros
/title/tt0245712/
tt0245712
-------------
Nausicaä of the Valley of the Wind
/title/tt0087544/
tt0087544
-------------
Andrei Rublev
/title/tt0060107/
tt0060107
-------------
It Happened One Night
/title/tt0025316/
tt0025316
-------------
Before Sunset
/title/tt0381681/
tt0381681
-------------
Fanny and Alexander
/title/tt0083922/
tt0083922
-------------
Neon Genesis Evangelion: The End of Evangelion
/title/tt0169858/
tt0169858
-------------
The Battle of Algiers
/title/tt0058946/
tt0058946
-------------
96
/title/tt7019842/
tt7019842
-------------
Nights of Cabiria
/title/tt0050783/
tt0050783
-------------
The Princess Bride
/title/tt0093779/
tt0093779
-------------
Paris, Texas
/title/tt0087884/
tt0087884
-------------
Soorarai Pottru
/title/tt10189514/
tt10189514

In [46]:
# push top 250 to imdb_top_250_movies table
session.commit()

In [47]:
# close session
session.close()