In [1]:
# dependencies and setup
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime as dt
import numpy as np
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, func, ForeignKey
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Date, Integer, String, Float

In [2]:
# files to load
file1 = "Raw_Data/IMDb movies.csv"
file2 = "Raw_Data/rotten_tomatoes_movies.csv"
file3 = "Raw_Data/IMDb title_principals.csv"
file4 = "Raw_Data/IMDb names.csv"

# read files and store into pandas dataframe
IMDB_movies = pd.read_csv(file1, low_memory=False)
rotten_tomatoes = pd.read_csv(file2, low_memory=False)
cast_and_crew = pd.read_csv(file3, low_memory=False)
actors = pd.read_csv(file4, low_memory=False)

In [3]:
# view IMDB_movies dataframe
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
# rename IMDB avg_vote to ratings
IMDB_movies = IMDB_movies.rename(columns={"avg_vote":"imdb_ratings", "worlwide_gross_income":"worldwide_gross_income"})
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [5]:
# remove metascore, reviews_from_users, and reviews_from_critics from IMDB
IMDB_movies = IMDB_movies.drop(columns=['metascore', 'reviews_from_users', 'reviews_from_critics'])
IMDB_movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN

In [6]:
#Look at the data types of all the columns
IMDB_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_title_id           85855 non-null  object
 1   title                   85855 non-null  object
 2   original_title          85855 non-null  object
 3   year                    85855 non-null  object
 4   date_published          85855 non-null  object
 5   genre                   85855 non-null  object
 6   duration                85855 non-null  int64
 7   country                 85791 non-null  object
 8   language                85022 non-null  object
 9   director                85768 non-null  object
 10  writer                  84283 non-null  object
 11  production_company      81400 non-null  object
 12  actors                  85786 non-null  object
 13  description             83740 non-null  object
 14  imdb_ratings            85855 non-null  float64
 15  votes                   85855 non-null  int64
 16  budget                  23710 non-null  object
 17  usa_gross_income        15326 non-null  object
 18  worldwide_gross_income  31016 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 12.4+ MB

In [7]:
#Checks max lenghts of all string i.e. object columns
for c in IMDB_movies:
    if IMDB_movies[c].dtype=='object':
        print(f'{c} {IMDB_movies[c].str.len().max()}')

imdb_title_id 10
title 196
original_title 196
year 13
date_published 13
genre 31
country 225.0
language 163.0
director 62.0
writer 64.0
production_company 101.0
actors 415.0
description 402.0
budget 16.0
usa_gross_income 12.0
worldwide_gross_income 14.0

In [8]:
#Year should be integer, checking which values are forcing pandas to make it string i.e. object
IMDB_movies['year'].unique()

array(['1894', '1906', '1911', '1912', '1919', '1913', '1914', '1915',
       '1916', '1917', '1918', '1920', '1921', '1924', '1922', '1923',
       '1925', '1926', '1935', '1927', '1928', '1983', '1929', '1930',
       '1932', '1931', '1937', '1938', '1933', '1934', '1936', '1940',
       '1939', '1942', '1943', '1941', '1948', '1944', '2001', '1946',
       '1945', '1947', '1973', '1949', '1950', '1952', '1951', '1962',
       '1953', '1954', '1955', '1961', '1956', '1958', '1957', '1959',
       '1960', '1963', '1965', '1971', '1964', '1966', '1968', '1967',
       '1969', '1976', '1970', '1979', '1972', '1981', '1978', '2000',
       '1989', '1975', '1974', '1986', '1990', '2018', '1977', '1982',
       '1980', '1993', '1984', '1985', '1988', '1987', '2005', '1991',
       '2002', '1994', '1992', '1995', '2017', '1997', '1996', '2006',
       '1999', '1998', '2007', '2008', '2003', '2004', '2010', '2009',
       '2011', '2013', '2012', '2016', '2015', '2014', '2019', '2020',
       'TV Movie 2019'], dtype=object)

In [9]:
#Replacing 'TV Movie 2019' to '2019'
IMDB_movies['year']= IMDB_movies['year'].replace(['TV Movie 2019'],2019)

In [10]:
#Data After Replacing
IMDB_movies['year'].unique()

array(['1894', '1906', '1911', '1912', '1919', '1913', '1914', '1915',
       '1916', '1917', '1918', '1920', '1921', '1924', '1922', '1923',
       '1925', '1926', '1935', '1927', '1928', '1983', '1929', '1930',
       '1932', '1931', '1937', '1938', '1933', '1934', '1936', '1940',
       '1939', '1942', '1943', '1941', '1948', '1944', '2001', '1946',
       '1945', '1947', '1973', '1949', '1950', '1952', '1951', '1962',
       '1953', '1954', '1955', '1961', '1956', '1958', '1957', '1959',
       '1960', '1963', '1965', '1971', '1964', '1966', '1968', '1967',
       '1969', '1976', '1970', '1979', '1972', '1981', '1978', '2000',
       '1989', '1975', '1974', '1986', '1990', '2018', '1977', '1982',
       '1980', '1993', '1984', '1985', '1988', '1987', '2005', '1991',
       '2002', '1994', '1992', '1995', '2017', '1997', '1996', '2006',
       '1999', '1998', '2007', '2008', '2003', '2004', '2010', '2009',
       '2011', '2013', '2012', '2016', '2015', '2014', '2019', '2020',
       2019], dtype=object)

In [11]:
#Convert Year to Integer from Object i.e. string
IMDB_movies['year']=pd.to_numeric(IMDB_movies['year'])

In [12]:
#verify after conversion
IMDB_movies['year'].dtype

dtype('int64')

In [13]:
#Date Published should be date, checking which values are forcing pandas to make it string i.e. object
IMDB_movies['date_published'].unique()
#Looking at it typically all values are of length 10 (yyyy-mm-dd)

array(['1894-10-09', '1906-12-26', '1911-08-19', ..., '2020-10-22',
       '2019-01-13', '2020-09-04'], dtype=object)

In [14]:
#Finding the value that has length greater than 10
[x for x in IMDB_movies['date_published'] if len(x) > 10]

['TV Movie 2019']

In [15]:
#Finding the movie with publised data of 'TV Movie 2019'
IMDB_movies[IMDB_movies['date_published']=='TV Movie 2019']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,imdb_ratings,votes,budget,usa_gross_income,worldwide_gross_income
83917,tt8206668,Bad Education,Bad Education,2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,"Mike Makowsky, Robert Kolker",HBO Films,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN

In [16]:
#By google search release date of "Bad Education" was 8th Sept 2019
#Replacing the date to 8th Sept 2019
IMDB_movies['date_published']= IMDB_movies['date_published'].replace(['TV Movie 2019'],'2019-09-08')

In [17]:
#Convert date_published to Date from Object i.e. string
IMDB_movies['date_published']=pd.to_datetime(IMDB_movies['date_published'],format='%Y-%m-%d')

In [18]:
#Verify datatype after conversion
IMDB_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_title_id           85855 non-null  object
 1   title                   85855 non-null  object
 2   original_title          85855 non-null  object
 3   year                    85855 non-null  int64
 4   date_published          85855 non-null  datetime64[ns]
 5   genre                   85855 non-null  object
 6   duration                85855 non-null  int64
 7   country                 85791 non-null  object
 8   language                85022 non-null  object
 9   director                85768 non-null  object
 10  writer                  84283 non-null  object
 11  production_company      81400 non-null  object
 12  actors                  85786 non-null  object
 13  description             83740 non-null  object
 14  imdb_ratings            85855 non-null  float64
 15  votes                   85855 non-null  int64
 16  budget                  23710 non-null  object
 17  usa_gross_income        15326 non-null  object
 18  worldwide_gross_income  31016 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(14)
memory usage: 12.4+ MB

In [19]:
# view Rotten Tomatoes dataframe
rotten_tomatoes.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2/12/2010,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",4/30/2010,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",10/5/1979,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",4/13/1957,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1/1/1954,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [20]:
# view columns and datatypes of rotten_tomatoes
rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [21]:
# Original release date should be date, checking which values are forcing pandas to make it string i.e. object
rotten_tomatoes['original_release_date'].unique()
#Looking at it typically all values are of length 10 (mm/dd/yyyy)

array(['2/12/2010', '4/30/2010', '10/5/1979', ..., '10/2/1981',
       '12/17/1964', '6/17/1964'], dtype=object)

In [22]:
# Convert original_release_date to Date from Object i.e. string
rotten_tomatoes['original_release_date']=pd.to_datetime(rotten_tomatoes['original_release_date'],format='%m/%d/%Y')

In [23]:
# Convert streaming_release_date to Date from Object i.e. string
rotten_tomatoes['streaming_release_date']=pd.to_datetime(rotten_tomatoes['streaming_release_date'],format='%m/%d/%Y')

In [24]:
# view columns and datatypes of rotten_tomatoes to see that dates changed to datetime64[ns]
rotten_tomatoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  datetime64[ns]
 10  streaming_release_date            17328 non-null  datetime64[ns]
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(12)
memory usage: 3.0+ MB

In [25]:
# merge IMDB_movies and rotten_tomatoes together
merged_movies=IMDB_movies.merge(rotten_tomatoes, how='left', left_on=['original_title','date_published'], right_on=['movie_title','original_release_date'],suffixes=('_imdb','_rt'))
merged_movies.head(20)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,production_company_rt,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913-01-01,"Biography, Drama",60,USA,English,Sidney Olcott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,tt0002646,Atlantis,Atlantis,1913,1913-12-26,Drama,121,Denmark,Danish,August Blom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",54,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tt0003037,Juve contre Fantômas,Juve contre Fantômas,1913,1913-09-08,"Crime, Drama",61,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tt0003102,Ma l'amor mio non muore...,Ma l'amor mio non muore...,1914,1914-01-01,Drama,90,Italy,Italian,Mario Caserini,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,tt0003131,Maudite soit la guerre,Maudite soit la guerre,1914,1914-05-01,"Drama, War",50,Belgium,French,Alfred Machin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,tt0003165,Le mort qui tue,Le mort qui tue,1913,1913-11-06,"Crime, Drama, Mystery",90,France,French,Louis Feuillade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,55,USA,English,D.W. Griffith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,tt0003419,Lo studente di Praga,Der Student von Prag,1913,1913-08-22,"Drama, Fantasy, Horror",85,Germany,"German, English","Paul Wegener, Stellan Rye",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# see rows in IMDB_movies
len(IMDB_movies)

85855

In [27]:
# see rows in rotten_tomatoes
len(rotten_tomatoes)

17712

In [28]:
# see rows in merged_movies
len(merged_movies)

85855

In [29]:
# see just the ratings of merged file
Ratings = merged_movies[['title','year','original_release_date','imdb_ratings','tomatometer_rating','audience_rating','imdb_title_id']]
Ratings.head()

,title,year,original_release_date,imdb_ratings,tomatometer_rating,audience_rating,imdb_title_id
0,Miss Jerry,1894,NaT,5.9,NaN,NaN,tt0000009
1,The Story of the Kelly Gang,1906,NaT,6.1,NaN,NaN,tt0000574
2,Den sorte drøm,1911,NaT,5.8,NaN,NaN,tt0001892
3,Cleopatra,1912,NaT,5.2,NaN,NaN,tt0002101
4,L'Inferno,1911,NaT,7.0,NaN,NaN,tt0002130

In [30]:
# Create a rotten tomatoes year columnn based on the original release date
Ratings['rt_year'] = pd.DatetimeIndex(Ratings['original_release_date']).year

# Fill in null values of original release date column (now rt_year) with 0 and change to integer
Ratings['rt_year'] = Ratings['rt_year'].fillna(0)
Ratings['rt_year'] = Ratings['rt_year'].astype(int)

# remove original_release_date column
del Ratings['original_release_date']
Ratings.head()

,title,year,imdb_ratings,tomatometer_rating,audience_rating,imdb_title_id,rt_year
0,Miss Jerry,1894,5.9,NaN,NaN,tt0000009,0
1,The Story of the Kelly Gang,1906,6.1,NaN,NaN,tt0000574,0
2,Den sorte drøm,1911,5.8,NaN,NaN,tt0001892,0
3,Cleopatra,1912,5.2,NaN,NaN,tt0002101,0
4,L'Inferno,1911,7.0,NaN,NaN,tt0002130,0

In [31]:
# creating clean ratings DF where IMDB movies and Rotten Tomatoes movies match in year
clean_ratings = Ratings.loc[(Ratings['year']== Ratings['rt_year'])]

In [32]:
# see rows in clean_ratings 
len(clean_ratings)

2197

In [33]:
clean_ratings.head()

,title,year,imdb_ratings,tomatometer_rating,audience_rating,imdb_title_id,rt_year
277,Sangue e arena,1922,6.4,100.0,61.0,tt0012952,1922
302,Robin Hood,1922,7.2,100.0,72.0,tt0013556,1922
473,Il pirata nero,1926,7.1,100.0,68.0,tt0016654,1926
488,La carne e il diavolo,1926,7.6,93.0,84.0,tt0016884,1926
565,Cosetta,1927,7.3,87.0,81.0,tt0018033,1927

In [34]:
# view columns and datatypes of clean_ratings
clean_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2197 entries, 277 to 85774
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               2197 non-null   object
 1   year                2197 non-null   int64
 2   imdb_ratings        2197 non-null   float64
 3   tomatometer_rating  2191 non-null   float64
 4   audience_rating     2184 non-null   float64
 5   imdb_title_id       2197 non-null   object
 6   rt_year             2197 non-null   int32
dtypes: float64(3), int32(1), int64(1), object(2)
memory usage: 128.7+ KB

In [35]:
# see rows in movie_names_csv
len(cast_and_crew)

835513

In [36]:
# view columns and datatypes of movie_names_csv
cast_and_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835513 entries, 0 to 835512
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   imdb_title_id  835513 non-null  object
 1   ordering       835513 non-null  int64
 2   imdb_name_id   835513 non-null  object
 3   category       835513 non-null  object
 4   job            212731 non-null  object
 5   characters     340836 non-null  object
dtypes: int64(1), object(5)
memory usage: 38.2+ MB

In [37]:
# see rows in names_csv
len(actors)

297705

In [38]:
# view names_csv dataframe
actors.head()

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [39]:
# Checks max lengths of all string i.e. object columns
for c in actors:
    if actors[c].dtype=='object':
        print(f'{c} {actors[c].str.len().max()}')

imdb_name_id 10
name 54
birth_name 217
bio 40729.0
birth_details 184.0
date_of_birth 105.0
place_of_birth 167.0
death_details 171.0
date_of_death 94.0
place_of_death 112.0
reason_of_death 119.0
spouses_string 585.0

In [40]:
# If date_of_birth value is nan or length is >10 then defualt to NaN.
actors['date_of_birth'] = [ np.nan if pd.isnull(x) or len(x)>10  else x for x in actors['date_of_birth'] ]

In [41]:
# Verify Max length of the column is 10
actors['date_of_birth'].dropna().str.len().max()

10

In [42]:
# Convert DOB column to datetime
# There is one DOB of value '1564-04-23'. Pandas only recognizes dates >= '1677-09-21' (pd.Timestamp.min).
# errors='coerce' changes it outbound date values to NaT
actors['date_of_birth']=pd.to_datetime(actors['date_of_birth'],format='%Y-%m-%d',errors = 'coerce')

In [43]:
# show pandas minimum date
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [44]:
# show pandas maximum date
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [45]:
# Date of death values with length grater than 10
[x for x in actors['date_of_death'].dropna() if len(x)>10]

['2017 in\xa0Québec, Canada',
 '2001 in\xa0Spain',
 '1999 in\xa0Rome, Lazio, Italy',
 '1972 in\xa0Beirut, Lebanon',
 '2006 in\xa0Chiltern, Buckinghamshire, England, UK',
 '1973 in\xa0Mexico',
 '1962 in\xa0Taunton, Somerset, UK',
 '1996 in\xa0Mexico, D.F., Mexico',
 '1965 in\xa0Georgetown, Guyana',
 '456 BC in\xa0Gela, Sicily, Italy',
 '1992 in\xa0Moscow, Russia',
 '1996 in\xa0Rome, Lazio, Italy',
 '1983 in\xa0Madrid, Spain',
 '1723 in\xa0Beja, Portugal',
 '1995 in\xa0Javea, Valencia, Spain',
 '1998 in\xa0Quezon City, Philippines \xa0(skin cancer)',
 '1992 in\xa0Istanbul, Turkey',
 '2001 in\xa0Istanbul, Turkey',
 '1994 in\xa0Moscow, Russia',
 '1997 in\xa0Philippines \xa0(cardiac arrest)',
 '1991 in\xa0Izmir, Turkey',
 '1959 in\xa0London, England, UK',
 '1975 in\xa0Belgrade, Yugoslavia',
 '1986 in\xa0Chiltern & Beaconsfield, Buckinghamshire, England, UK',
 '1994 in\xa0Greece',
 '1924 in\xa0France',
 '2009 in\xa0Lambeth, London, England, UK',
 '1998 in\xa0New York City, New York, USA',
 '1952 in\xa0Belgrade, Serbia, Yugoslavia',
 '1977 in\xa0England, UK',
 '2002 in\xa0Moscow, Russia',
 'c. 388 BC in\xa0Greece',
 '1996 in\xa0Istanbul, Turkey',
 '1958 in\xa0Surrey, England, UK',
 '2004 in\xa0Madrid, Madrid, Spain',
 '1992 in\xa0Istanbul, Turkey',
 '1987 in\xa0Istanbul, Turkey',
 '1966 in\xa0Lagny-sur-Marne, Seine-et-Marne, France',
 '1993 in\xa0Japan',
 '1960 in\xa0England',
 '1999 in\xa0Paris, France',
 '1966 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil',
 '1992 in\xa0Ljubljana, Slovenia',
 '1991 in\xa0Belgrade, Serbia, Yugoslavia',
 '1995 in\xa0Madrid, Spain',
 '1945 in\xa0USSR',
 '1970 in\xa0London, England, UK',
 '1954 in\xa0Chichester, England, UK',
 '1971 in\xa0India',
 '2003 in\xa0Istanbul, Turkey',
 '1978 in\xa0Montréal, Québec, Canada',
 '2004 in\xa0Canada',
 '1995 in\xa0Norfolk, England, UK',
 '2011 in\xa0Germany',
 '1986 in\xa0Palm Beach, Florida, USA',
 '1989 in\xa0Calcutta, West Bengal, India',
 '1993 in\xa0Bombay, Maharashtra, India',
 '1960 in\xa0Marylebone, London, England, UK',
 '1914 in\xa0Mexico',
 '1993 in\xa0Istanbul, Turkey',
 'August 6, 1999  \xa0(head injury)',
 '2006 in\xa0Istanbul, Turkey',
 '2006 in\xa0New Zealand',
 '1991 in\xa0Montréal, Québec, Canada',
 '1963 in\xa0Paddington, London, England, UK',
 '1982 in\xa0Italy',
 '2002 in\xa0Staten Island, New York, USA \xa0(leukemia)',
 '1997 in\xa0Rome, Lazio, Italy \xa0(heart attack)',
 '1996 in\xa0North Yorkshire, England, UK',
 '1968 in\xa0England, UK',
 '2001 in\xa0Italy',
 '2007 in\xa0Glasgow, Scotland, UK',
 '1973 in\xa0Richmond upon Thames, Surrey, England, UK',
 '1987 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil \xa0(lung edema)',
 '2005 in\xa0Tunbridge Wells, Kent, England, UK',
 '1944 in\xa0Paris, France',
 '1954 in\xa0Brighton, Sussex, England, UK',
 '1984 in\xa0Mexico',
 '1994 in\xa0Petrova Gora, Croatia',
 '2003 in\xa0Cheltenham, Gloucestershire, England, UK',
 '1919 in\xa0Cluj, Romania',
 '1975 in\xa0Essex, England, UK',
 '1961 in\xa0South Africa',
 '1932 in\xa0Los Angeles, California, USA',
 '1997 in\xa0Sarajevo, Bosnia and Herzegovina',
 '1982 in\xa0Isle of Wight, England, UK',
 '1981 in\xa0Hampshire, England, UK',
 '1962 in\xa0USA',
 '1990 in\xa0Istanbul, Turkey',
 '2013 in\xa0USA',
 '1974 in\xa0Essex, England, UK',
 '1958 in\xa0Hendon, London, England, UK',
 '1991 in\xa0Oslo, Norway',
 '1990 in\xa0Mexico, D.F., Mexico',
 '1970 in\xa0Jalisco, Mexico',
 '1966 in\xa0Madrid, Spain',
 '1996 in\xa0China',
 '1996 in\xa0Athens, Greece',
 '1978 in\xa0Mexico, D.F., Mexico',
 '1998 in\xa0London, England, UK',
 '1993 in\xa0Austria',
 '1993 in\xa0Istanbul, Turkey',
 '2011 in\xa0Belgrade, Serbia',
 '1961 in\xa0Argentina',
 '1980 in\xa0Calcutta, West Bengal, India',
 '1927 in\xa0Fontainebleau, Seine-et-Marne, France',
 '2010 in\xa0Singapore \xa0(lung & colon cancer)',
 '2005 in\xa0Taiwan',
 '1934 in\xa0Odessa, Ukrainian SSR, USSR [now Ukraine] \xa0(liver cancer)',
 '1957 in\xa0London, England, UK \xa0(gassed)',
 '2013 in\xa0Shenzhen, Guangzhou, China \xa0(cerebral hemorrhage)',
 '1993 in\xa0Tunbridge Wells, Kent, England, UK',
 '1998 in\xa0Russia',
 '1991 in\xa0Hong Kong \xa0(cancer)',
 '2004 in\xa0Tbilisi, Georgia \xa0(car accident)',
 '1951 in\xa0Maidenhead, Berkshire, England, UK \xa0(plane crash)',
 '1983 in\xa0Thessaloniki, Greece',
 '1979 in\xa0Sussex, England, UK',
 '2003 in\xa0Italy',
 '1980 in\xa0Phoenix, Arizona, USA',
 '1789 in\xa0England',
 '1976 in\xa0Germany',
 '1951 in\xa0London, England, UK',
 '1999 in\xa0Wandsworth, London, England, UK',
 '1977 in\xa0Kensington, London, England, UK',
 '1983 in\xa0Rio de Janeiro, Brazil \xa0(pulmonary edema)',
 '1977 in\xa0Surrey, England, UK',
 '1989  \xa0(USA)',
 '1973 in\xa0Italy',
 '1999 in\xa0Rome, Italy \xa0(natural causes)',
 '1903 in\xa0Paris, France',
 '1984 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil',
 '1990 in\xa0San Fernando Valley, California, USA \xa0(heart attack)',
 '2005 in\xa0Somerset, England, UK',
 '1954 in\xa0Milan, Italy',
 '1998 in\xa0Richmond-upon-Thames, Greater London, England, UK',
 '1993 in\xa0Belgrade, Serbia, Yugoslavia',
 '2009 in\xa0Bracknell, Berkshire, England, UK',
 '1977 in\xa0Camden, London, England, UK',
 '1992 in\xa0Madrid, Spain',
 '1971 in\xa0Boulogne-Billancourt, Hauts-de-Seine, France',
 '1975 in\xa0Kent, England, UK',
 '1982 in\xa0Athens, Greece \xa0(heart attack)',
 '1971 in\xa0Wycombe, Buckinghamshire, England, UK',
 '2014 in\xa0Hawaii, USA',
 '1993 in\xa0Greece',
 '1995 in\xa0Hounslow, London, England, UK',
 '1990  \xa0(pancreatic cancer)',
 '1978 in\xa0London, England, UK',
 '2011 in\xa0Australia',
 "1994  \xa0(non-Hodgkin's lymphoma)",
 '1998 in\xa0Istanbul, Turkey',
 '1990 in\xa0USA',
 '1996 in\xa0Lawrence, Kansas, USA',
 '1988 in\xa0Xàtiva, Comunidad Valenciana, Spain',
 '2009 in\xa0West Sussex, England, UK',
 '1980 in\xa0Kent, England, UK',
 '2000 in\xa0France',
 '1977 in\xa0Paris, France \xa0(heart attack)',
 '1987 in\xa0USSR [now Russia]',
 '1978 in\xa0Buenos Aires, Argentina',
 '1992 in\xa0Nice, Alpes-Maritimes, France',
 '1978 in\xa0Montpellier, Hérault, France',
 '1996 in\xa0Istanbul, Turkey',
 '2008 in\xa0Istanbul, Turkey',
 '1997 in\xa0Australia',
 '2002 in\xa0San Diego, California, USA',
 '1983 in\xa0Rome, Italy',
 '1955 in\xa0Calcutta, West Bengal, India \xa0(influenza)',
 '2003 in\xa0Los Angeles, California, USA',
 '1968 in\xa0Genoa, Liguria, Italy',
 '2001 in\xa0Mitcham, Surrey, England, UK',
 '1982 in\xa0Ealing, London, England, UK',
 '1999 in\xa0England, UK',
 '1943 in\xa0Massachusetts, USA',
 '1996 in\xa0Wandsworth, London, England, UK',
 '1987 in\xa0South Africa',
 '1976 in\xa0Mexico',
 '1973 in\xa0Lambeth, London, England, UK',
 '2017 in\xa0Los Angeles, California, USA',
 '1967 in\xa0Athens, Greece',
 '1997 in\xa0Towson, Maryland, USA \xa0(cancer)',
 '1977 in\xa0Qingdao, Shandong, China',
 '1973 in\xa0Moscow, USSR',
 '1995 in\xa0Bournemouth, Dorset, England, UK',
 '1981  \xa0(cancer)',
 '1984 in\xa0Istanbul, Turkey',
 '1992 in\xa0Istanbul, Turkey',
 '1988 in\xa0Mexico, D.F., Mexico',
 '1958 in\xa0Madrid, Spain',
 '1989 in\xa0Italy',
 '1974 in\xa0Cairo, Egypt',
 '1987 in\xa0Egypt',
 '1976 in\xa0Mexico, D.F., Mexico',
 '1982 in\xa0South Glamorgan, Wales, UK',
 '1983 in\xa0Atlanta, Georgia, USA \xa0(heart attack)',
 '1989 in\xa0Istanbul, Turkey',
 '1987 in\xa0Turkey',
 '2004 in\xa0Barcelona, Barcelona, Catalonia, Spain',
 '1965 in\xa0Buenos Aires, Argentina',
 '406 BC in\xa0Pella-Macedonia, Greece',
 '1953 in\xa0Wartberg an der Krems, Austria',
 '1945 in\xa0Auschwitz-Birkenau Concentration Camp, Oswiecim, Malopolskie, Poland',
 '1957 in\xa0Stockholm, Stockholms län, Sweden',
 '1985 in\xa0Rio de Janeiro, Brazil',
 '2000 in\xa0Paris, France',
 '1951 in\xa0China',
 '1947 in\xa0Cluj, Romania',
 '1966 in\xa0Los Angeles, California, USA',
 '1964 in\xa0Madrid, Spain',
 '2011 in\xa0Spain',
 '1965 in\xa0Rome, Lazio, Italy',
 '1964 in\xa0Westminster, London, England, UK',
 '1997 in\xa0Istanbul, Turkey',
 '1982 in\xa0Istanbul, Turkey',
 '1975 in\xa0Rome, Lazio, Italy',
 '2000 in\xa0Montreal, Quebec, Canada',
 '1999 in\xa0Italy',
 '2012 in\xa0Tehran, Iran \xa0(pneumonia)',
 '2019 in\xa0UK \xa0(cancer)',
 '1982 in\xa0Torbay, Devon, England, UK',
 '1954 in\xa0Moscow, RSFSR, USSR [now Russia]',
 '2000 in\xa0Barcelona, Spain',
 '1991 in\xa0Istanbul, Turkey',
 '2006 in\xa0Westminster, London, England, UK',
 '1939 in\xa0Los Angeles, California, USA',
 '1993 in\xa0Rome, Lazio, Italy',
 '1989 in\xa0Spain \xa0(emphysema)',
 '1960 in\xa0Soviet Union [now Russia]',
 '1980 in\xa0London, England, UK',
 '1943 in\xa0London, England, UK',
 '1941 in\xa0Moscow, Soviet Union [now Russia] \xa0(lung cancer)',
 '1988 in\xa0Houslow, London, England, UK',
 '1982 in\xa0Argentina',
 "2005 in\xa0Australia \xa0(Alzheimer's disease)",
 '1959 in\xa0Rome, Lazio, Italy',
 '1980 in\xa0Mexico, D.F., Mexico',
 '1999 in\xa0Italy',
 '1930 in\xa0Salcombe Harbour, Devon, England, UK \xa0(presumed drowned)',
 '1959 in\xa0Australia',
 '2000 in\xa0Barcelona, Catalonia, Spain',
 '1998 in\xa0Lafayette, Louisiana, USA',
 '1976 in\xa0Salzburg, Austria',
 '1995 in\xa0Parma, Emilia-Romagna, Italy',
 '1999 in\xa0Viterbo, Lazio, Italy',
 '1999 in\xa0Athens, Greece \xa0(cancer)',
 '2005 in\xa0Italy',
 '1980 in\xa0Calcutta, West Bengal, India',
 '1975 in\xa0Rome, Lazio, Italy',
 '2001 in\xa0Italy',
 '1929 in\xa0Australia',
 '1973 in\xa0Brussels, Belgium',
 '1963 in\xa0London, England, UK',
 '1979 in\xa0London, England, UK',
 '1956 in\xa0Los Angeles, California, USA',
 '2002 in\xa0Isle of Wight, England, UK',
 '1974 in\xa0London, England, UK',
 '1957 in\xa0India',
 '2008 in\xa0Pulborough, West Sussex, England, UK',
 '1972 in\xa0Hampshire, England, UK',
 'c. 1220 in\xa0Denmark',
 '1983 in\xa0Miami, Florida, USA',
 '1992 in\xa0England, UK',
 '1979 in\xa0Paris, France',
 '1988 in\xa0England, UK',
 '2000 in\xa0New Zealand \xa0(breast cancer)',
 '1983 in\xa0Spain \xa0(during heart surgery)',
 '1990 in\xa0Turkey',
 '2003 in\xa0Stockholm, Sweden',
 '1974  \xa0(acute asthma attack)',
 '1994 in\xa0Istanbul, Turkey',
 '1982 in\xa0Istanbul, Turkey',
 '1996 in\xa0Madrid, Spain',
 '1979 in\xa0Oslo, Norway',
 '1941 in\xa0Rome, Lazio, Italy',
 '1973 in\xa0London, England, UK',
 '1981 in\xa0Istanbul, Turkey',
 '1994 in\xa0London, England, UK',
 '2012 in\xa0Paignton, Devon, England, UK',
 '2009 in\xa0Paignton, Devon, England, UK',
 '1981 in\xa0Mexico City, Distrito Federal, Mexico',
 '1968 in\xa0Buckinghamshire, England, UK',
 '1982 in\xa0Wandsworth, London, England, UK',
 '1977 in\xa0Wandsworth, London, England, UK',
 '1998 in\xa0Banbury, Oxfordshire, England, UK \xa0(emphysema)',
 '1971 in\xa0Yeovil, Somerset, England, UK',
 '2018 in\xa0Plymouth, Devon, England, UK',
 '1963 in\xa0Marylebone, London, England, UK',
 '1990 in\xa0Arusha, Tanzania \xa0(AIDS)',
 '1979 in\xa0London, England, UK',
 '1998 in\xa0Switzerland',
 '2002 in\xa0Grosseto, Tuscany, Italy',
 '1958 in\xa0London, England, UK \xa0(suicide)',
 '1968 in\xa0Australia',
 '1977 in\xa0Nîmes, Gard, France \xa0(suicide by hanging)',
 '2002 in\xa0Hereford, Herefordshire, England, UK',
 '1979 in\xa0Istanbul, Turkey \xa0(cirrhosis)',
 '1976 in\xa0Hampshire, England, UK',
 '1957 in\xa0New York, USA',
 '1999 in\xa0Surrey, England, UK',
 '1975 in\xa0Sidmouth, Devon, England, UK',
 '1971 in\xa0USA',
 '1999 in\xa0England, UK',
 '1972 in\xa0Hillingdon, Middlesex, London, England, UK',
 '1990 in\xa0Les Mureaux, France \xa0(motorcycle accident)',
 'c. 800 BC in\xa0Ancient Greece',
 '1992 in\xa0Devon, England, UK',
 '1999 in\xa0Madrid, Spain',
 '2001 in\xa0Penzance, Cornwall, England, UK',
 '1942 in\xa0Tokyo, Japan',
 '1971 in\xa0Uckfield, East Sussex, England, UK',
 '1989 in\xa0Prague, Czechoslovakia [now Czech Republic]',
 '1988 in\xa0Japan',
 '1971 in\xa0Belgrade, Serbia, Yugoslavia',
 '1995 in\xa0Turkey',
 '1998 in\xa0Mexico, D.F., Mexico',
 '1980 in\xa0Istanbul, Turkey',
 '1974 in\xa0Thessaloniki, Greece',
 '1971 in\xa0Indonesia',
 '1993 in\xa0Japan',
 '1955 in\xa0Dade County, Florida, USA',
 '1960 in\xa0London, England, UK',
 '2004 in\xa0Nice, Alpes-Maritimes, France',
 '1961 in\xa0Cairo, Egypt \xa0(cancer)',
 '1969 in\xa0London, England, UK',
 '1957 in\xa0London, England, UK',
 '1978 in\xa0Worthing, Sussex, England, UK',
 '1949 in\xa0Wood Green, London, England, UK',
 '1982 in\xa0France',
 '1992 in\xa0Austria',
 '1986 in\xa0Rio de Janeiro, Brazil',
 '1972 in\xa0California, USA',
 '1987 in\xa0India',
 '1968 in\xa0Greece',
 '1987 in\xa0Bursa, Turkey',
 '1987  \xa0(cancer)',
 '1978 in\xa0London, England, UK',
 '1954 in\xa0Washington, District of Columbia, USA',
 '1949 in\xa0Hove, East Sussex, England, UK',
 '1993 in\xa0Merton, London, England, UK',
 '1986 in\xa0Istanbul, Turkey',
 '1974 in\xa0India',
 '2001 in\xa0Russia',
 '1971 in\xa0County Waterford, Ireland',
 '1986 in\xa0USA',
 '1984 in\xa0London, England, UK',
 '1996 in\xa0Moscow, Russia \xa0(cancer)',
 '1995 in\xa0Budapest, Hungary',
 '1971 in\xa0Hiroshima, Japan',
 '1989 in\xa0Tokyo, Japan',
 '2004 in\xa0Spain',
 '1995 in\xa0Prenzlau, Brandenburg, Germany',
 '1996 in\xa0Istanbul, Turkey',
 '1937  \xa0(executed after false conviction on political charges)',
 '1978 in\xa0Netherlands \xa0(lithium overdose)',
 '1978 in\xa0Japan',
 '1990 in\xa0London, England, UK',
 '1942 in\xa0Kremsier, Protectorate of Bohemia and Moravia [now Kromeriz, Czech Republic]',
 '1977 in\xa0Westminster, London, England, UK',
 '1999 in\xa0Formentera, Balearic Islands, Spain \xa0(AIDS)',
 '1996 in\xa0Russia',
 '1988 in\xa0Evry, Essonne, France',
 '1986 in\xa0Rio de Janeiro, RJ, Brazil',
 '1970 in\xa0London, England, UK',
 '1947 in\xa0USA',
 '1981 in\xa0Palma, Majorca, Spain',
 '1964 in\xa0Queens, New York, USA',
 '1975 in\xa0Seoul, South Korea \xa0(liver cirrhosis)',
 '1971 in\xa0Thanet, Kent, England, UK',
 '2004 in\xa0Bexhill-on-Sea, East Sussex, England, UK \xa0(MRSA)',
 '2002 in\xa0Reading, Berkshire, England, UK',
 '1989 in\xa0Rome, Lazio, Italy',
 '1996 in\xa0Camden, London, England, UK',
 '1940 in\xa0Shanghai, China',
 '1980 in\xa0Athens, Greece',
 '1959 in\xa0Maidstone, Kent, England, UK',
 '17 in\xa0Patavium, Roman Empire [now Padua, Veneto, Italy]',
 '1970 in\xa0Madrid, Spain',
 '1993 in\xa0Madrid, Spain',
 '2010 in\xa0Madrid, Madrid, Spain',
 '1980 in\xa0Worthing, Sussex, England, UK',
 '1933 in\xa0France',
 '1976 in\xa0Los Angeles, California, USA',
 '1999  \xa0(AIDS)',
 '2000 in\xa0Viterbo, Lazio, Italy',
 '2005 in\xa0Rome, Lazio, Italy',
 '1980 in\xa0Argentina',
 '1400 in\xa0China',
 '1955 in\xa0Devon, England, UK',
 '2006 in\xa0Pattaya, Thailand \xa0(esophageal cancer)',
 '1989 in\xa0Prague, Czechoslovakia [now Czech Republic]',
 '1996 in\xa0Madrid, Spain',
 '1992 in\xa0Rome, Italy',
 '1944 in\xa0Cairo, Egypt',
 '1976 in\xa0Pisa, Tuscany, Italy',
 '1984 in\xa0Athens, Greece',
 '1954 in\xa0Rome, Lazio, Italy',
 '1931 in\xa0Michigan, USA',
 '2009 in\xa0Germany \xa0(renal failure)',
 '1943 in\xa0Warsaw, Mazowieckie, Poland \xa0(murdered by Nazis)',
 '1995 in\xa0Berlin, Germany',
 'September 21, 19 BC in\xa0Brundisium [now Brindisi, Italy] \xa0(fever)',
 '1999 in\xa0Germany',
 '1987 in\xa0Mexico City, Mexico',
 '1983 in\xa0Santa Fe, New Mexico, USA \xa0(complications following heart surgery)',
 '1934 in\xa0Brussels, Belgium',
 '1966 in\xa0New York City, New York, USA',
 '1964 in\xa0London, England, UK',
 '1976 in\xa0London, England, UK',
 '1985 in\xa0USSR [now Russia]',
 '1926 in\xa0California, USA',
 '2018 in\xa0Falmouth, Cornwall, England, UK',
 '1990 in\xa0Italy',
 '1973 in\xa0Rome, Lazio, Italy',
 '1997 in\xa0Lisbon, Portugal',
 '1948 in\xa0Austria',
 '1991 in\xa0Athens, Greece',
 '1969 in\xa0Amsterdam, Noord-Holland, Netherlands',
 '1989 in\xa0Hong Kong',
 '1868 in\xa0Paris, France',
 '1627 in\xa0London, England, UK',
 '2000 in\xa0Rome, Lazio, Italy',
 'c. 1950 in\xa0England, UK',
 '1981 in\xa0Jamaica \xa0(road accident)',
 '2015 in\xa0Monterey, California, USA',
 '1979 in\xa0India',
 '1975 in\xa0Calcutta, West Bengal, India',
 '2015 in\xa0Los Angeles, California, USA \xa0(cancer)',
 '1997 in\xa0Oslo, Norway',
 '1961 in\xa0Bucharest, Romania',
 '1980 in\xa0London, England, UK',
 '1987 in\xa0Surrey, England, UK',
 '1983 in\xa0London, England, UK',
 '2000 in\xa0Bucharest, Romania \xa0(homicide)',
 '2005 in\xa0Italy',
 '1955 in\xa0London, England, UK',
 '1964 in\xa0East Grinstead, Surrey, England, UK',
 '1999 in\xa0West Sussex, England, UK',
 '1986 in\xa0Egypt',
 '1995 in\xa0Poland',
 '1995 in\xa0Istanbul, Turkey',
 '1957 in\xa0Cairo, Egypt',
 '1997 in\xa0India',
 '1031 in\xa0Japan',
 '1962 in\xa0London, England, UK',
 '1973 in\xa0Japan',
 '1983 in\xa0Bombay, Maharashtra, India',
 '1942 in\xa0Auschwitz-Birkenau Concentration Camp, Oswiecim, Malopolskie, Poland',
 '1976 in\xa0England, UK',
 '1966 in\xa0Israel',
 '2003 in\xa0Ynys Mon, Anglesey, Wales, UK',
 '1989 in\xa0Athens, Greece',
 '2002 in\xa0Verona, Italy',
 '1970 in\xa0Plovdiv, Bulgaria',
 '2001 in\xa0Japan',
 '1979 in\xa0London, England, UK',
 '1989 in\xa0Tucson, Arizona, USA',
 '1990 in\xa0Mexico',
 '2004 in\xa0Reading, Berkshire, England, UK',
 '1992  \xa0(stroke)',
 '1978  \xa0(car crash)',
 '1992 in\xa0Tokyo, Japan',
 '1993 in\xa0Belgrade, Serbia, Yugoslavia',
 '2015 in\xa0Rueil-Malmaison, Hauts-de-Seine, France \xa0(cancer)',
 '1979 in\xa0Leningrad, RSFSR, USSR [now St. Petersburg, Russia]',
 '2000 in\xa0Tekirdag, Turkey',
 '1994 in\xa0Poland',
 '1929 in\xa0Germany',
 '2010 in\xa0Buenos Aires, Argentina',
 '1971 in\xa0Twickenham, Middlesex, England, UK',
 '17 in\xa0Tomis, Moesia [now Constanta, Romania]',
 '1977 in\xa0Sao Paulo, Brazil',
 '1920 in\xa0Covadonga, Asturias, Spain',
 '1978 in\xa0Los Angeles, USA',
 '1987 in\xa0Rome, Lazio, Italy',
 '1988 in\xa0Russia',
 '2002 in\xa0Rome, Lazio, Italy',
 '1958 in\xa0Athens, Greece \xa0(cancer)',
 '1996 in\xa0Athens, Greece',
 '2007 in\xa0Watford, England',
 '1983 in\xa0London, England, UK',
 '1997 in\xa0Surrey, England, UK',
 '1956 in\xa0Rome, Lazio, Italy',
 '1998 in\xa0Budapest, Hungary',
 '1951 in\xa0Rio de Janeiro, Brazil \xa0(suicide)',
 '1977 in\xa0Birmingham, West Midlands, England, UK',
 '1983 in\xa0Madrid, Spain',
 '1923 in\xa0Madrid, Spain',
 '1981 in\xa0USA',
 '1986 in\xa0Polynesia',
 '2003 in\xa0Istanbul, Turkey \xa0(cancer)',
 '66 in\xa0Rome, Roman Empire \xa0(suicide)',
 '2011 in\xa0Greece',
 '1952 in\xa0Germany',
 '2004 in\xa0Australia \xa0(melanoma)',
 '2004 in\xa0Camden, London, England, UK',
 '1979 in\xa0Fidenza, Emilia-Romagna, Italy',
 '1969 in\xa0USA',
 '1998 in\xa0Havana, Cuba',
 '184 BC in\xa0Rome, Italy',
 '1993 in\xa0Prague, Czech Republic',
 '1979 in\xa0Holsworthy, Devon, England, UK',
 '2016 in\xa0Los Angeles, California, USA',
 '1989 in\xa0Belgrade, Serbia, Yugoslavia',
 '1993 in\xa0France',
 '1992 in\xa0Spain',
 '1997 in\xa0Hyderabad, Andhra Pradesh, India \xa0(natural causes)',
 '1935 in\xa0Paddington, Middlesex, London, England, UK',
 '1989 in\xa0Leningrad, RSFSR, USSR [now St. Petersburg, Russia]',
 '1998 in\xa0Slovenia',
 '2003 in\xa0Hove, East Sussex, England, UK',
 '1990 in\xa0Rome, Italy',
 '1996 in\xa0Kensington, London, England, UK',
 '1976 in\xa0Chelsea, London, England, UK',
 '1991 in\xa0Canary Islands, Spain',
 '2016 in\xa0Kensington, London, England, UK',
 '1973  \xa0(drowned)',
 '1987 in\xa0London, England, UK',
 '1995 in\xa0Brazil',
 '2006 in\xa0Hammersmith, London, England, UK',
 '1991 in\xa0Istanbul, Turkey',
 '1994 in\xa0Chennai, Tamilnadu, India \xa0(natural causes)',
 '2014 in\xa0Madrid, Spain',
 '1954 in\xa0France',
 '1993 in\xa0Ealing, London, England, UK',
 '2001 in\xa0Rome, Lazio, Italy',
 '1971 in\xa0Australia',
 '1988 in\xa0Oslo, Norway',
 '1990 in\xa0Edinburgh, Scotland, UK \xa0(suicide)',
 '1945 in\xa0Jacksonville, Florida, USA',
 '1984 in\xa0Buenos Aires, Argentina',
 '1999 in\xa0USA',
 '1987 in\xa0Brussels, Belgium',
 '1954 in\xa0Chile',
 '1994 in\xa0West Hollywood, California, USA \xa0(AIDS)',
 '1979 in\xa0Waltham Forest, London, England, UK',
 '1991 in\xa0Watford, Hertfordshire, England, UK',
 '1974 in\xa0Mexico City, Mexico',

In [46]:
# If date_of_birth value is nan or length is >10 then defualt to NaN.
actors['date_of_death'] = [ np.nan if pd.isnull(x) or len(x)>10  else x for x in actors['date_of_death'] ]

In [47]:
# Verify Max length of the column is 10
actors['date_of_death'].dropna().str.len().max()

10

In [48]:
# Convert date of death column to datetime
# There is one date of death of value '1616-04-23'. Pandas only recognizes dates >= '1677-09-21' (pd.Timestamp.min).
# errors='coerce' changes it outbound date values to NaT
actors['date_of_death']=pd.to_datetime(actors['date_of_death'],format='%Y-%m-%d',errors = 'coerce')

In [49]:
# view columns and datatypes of names_csv
actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297705 entries, 0 to 297704
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imdb_name_id           297705 non-null  object
 1   name                   297705 non-null  object
 2   birth_name             297705 non-null  object
 3   height                 44681 non-null   float64
 4   bio                    204698 non-null  object
 5   birth_details          110612 non-null  object
 6   date_of_birth          101740 non-null  datetime64[ns]
 7   place_of_birth         103992 non-null  object
 8   death_details          39933 non-null   object
 9   date_of_death          39129 non-null   datetime64[ns]
 10  place_of_death         37038 non-null   object
 11  reason_of_death        22694 non-null   object
 12  spouses_string         45352 non-null   object
 13  spouses                297705 non-null  int64
 14  divorces               297705 non-null  int64
 15  spouses_with_children  297705 non-null  int64
 16  children               297705 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(10)
memory usage: 38.6+ MB

In [50]:
#declarative Base
Base = declarative_base()

In [51]:
#Create Engine movies_db
engine = create_engine("sqlite:///movies_db.sqlite")

In [52]:
# This creates the DB (movies_dv.sqllite) and connects to it
conn = engine.connect()

In [53]:
# Define class i.e table to be created in DB
class Movies(Base):
    __tablename__='movies'
    imdb_title_id = Column(String, primary_key=True)
    title = Column(String)
    original_title = Column(String)
    year = Column(Integer)
    date_published = Column(Date)
    genre = Column(String)
    duration = Column(Integer)
    country = Column(String)
    language = Column(String)
    director = Column(String)
    writer = Column(String)
    production_company = Column(String)
    actors = Column(String)
    description = Column(String)
    imdb_ratings = Column(Float)
    votes = Column(Integer)
    budget = Column(String)
    usa_gross_income = Column(String)
    worldwide_gross_income = Column(String)

In [54]:
# Define class i.e table to be created in DB
class Ratings(Base):
    __tablename__='ratings'
    rating_id = Column(Integer, primary_key=True)
    title = Column(String)
    year = Column(Integer)
    imdb_ratings = Column(Float)
    tomatometer_rating = Column(Float)
    audience_rating = Column(Float)
    imdb_title_id = Column(String)
    rt_year = Column(Integer)

In [55]:
# Define class i.e table to be created in DB
class Movie_Names(Base):
    __tablename__='cast_and_crew'
    id = Column(Integer, primary_key=True)
    imdb_title_id = Column(String)
    ordering = Column(Integer)
    imdb_name_id = Column(String)
    category = Column(String)
    job = Column(String)
    characters = Column(String)

In [56]:
# Define class i.e table to be created in DB
class Names(Base):
    __tablename__='actors'
    imdb_name_id = Column(String,primary_key=True)
    name = Column(String)
    birth_name = Column(String)
    height = Column(Float)
    bio  = Column(String)
    birth_details  = Column(String)
    date_of_birth = Column(Date)
    place_of_birth  = Column(String)
    death_details  = Column(String)
    date_of_death = Column(Date)
    place_of_death  = Column(String)
    reason_of_death  = Column(String)
    spouses_string  = Column(String)
    spouses = Column(Integer)
    divorces = Column(Integer)
    spouses_with_children = Column(Integer)
    children = Column(Integer)

In [57]:
# Create the imdb_movie class
class imdb_movie(Base):
    __tablename__ = 'imdb_top_250_movies'
    title = Column(String, primary_key=True)
    movie_name = Column(String)

In [58]:
# Creates 'movies' and "imdb_top_250_movies" tables in DB
Base.metadata.create_all(engine)

In [59]:
# Inserts data from IMDB_movies to movies table in movies_db sqlite DB.
IMDB_movies.to_sql('movies',conn,index=False,if_exists='append')

In [60]:
# Inserts data from clean_ratings to ratings table in movies_db sqlite DB.
clean_ratings.to_sql('ratings',conn,index=False,if_exists='append')

In [61]:
# Inserts data from movie_names_csv to movie_names table in movies_db sqllite DB.
cast_and_crew.to_sql('cast_and_crew',conn,index=False,if_exists='append')

In [62]:
# Inserts data from names_csv to names table in movies_db sqllite DB.
actors.to_sql('actors',conn,index=False,if_exists='append')

In [63]:
# Close Connection
conn.close()

In [64]:
# To push the objects made and query the server we use a Session object
session = Session(bind=engine)

In [65]:
# create url variable
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [66]:
# Retrieve page with the requests module
response = requests.get(url)

In [67]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [68]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [69]:
# results are returned as an iterable list
top_250_results = soup.find_all('td', class_="titleColumn")

In [70]:
# Loop through returned results
for result in top_250_results:
    # Error handling
    try:
        # Identify and return title of listing
        title_name = result.find('a').text
        # Identify and return link to listing
        link = result.a['href']
        title_strings = link.split('/')
        

        # Print results only if title, price, and link are available
        if (title_name and link):
            print('-------------')
            print(title_name)
            print(link)
            print(title_strings[2])
            imdb_title_id = title_strings[2]
            # Create  instances of the imdb movie class
            movie = imdb_movie(title=imdb_title_id, movie_name=title_name)
            # Add these objects to the session
            session.add(movie)
                                   
    except AttributeError as e:
        print(e)

-------------
The Shawshank Redemption
/title/tt0111161/
tt0111161
-------------
The Godfather
/title/tt0068646/
tt0068646
-------------
The Godfather: Part II
/title/tt0071562/
tt0071562
-------------
The Dark Knight
/title/tt0468569/
tt0468569
-------------
12 Angry Men
/title/tt0050083/
tt0050083
-------------
Schindler's List
/title/tt0108052/
tt0108052
-------------
The Lord of the Rings: The Return of the King
/title/tt0167260/
tt0167260
-------------
Pulp Fiction
/title/tt0110912/
tt0110912
-------------
The Good, the Bad and the Ugly
/title/tt0060196/
tt0060196
-------------
The Lord of the Rings: The Fellowship of the Ring
/title/tt0120737/
tt0120737
-------------
Fight Club
/title/tt0137523/
tt0137523
-------------
Forrest Gump
/title/tt0109830/
tt0109830
-------------
Inception
/title/tt1375666/
tt1375666
-------------
The Lord of the Rings: The Two Towers
/title/tt0167261/
tt0167261
-------------
Star Wars: Episode V - The Empire Strikes Back
/title/tt0080684/
tt0080684
-------------
The Matrix
/title/tt0133093/
tt0133093
-------------
Goodfellas
/title/tt0099685/
tt0099685
-------------
One Flew Over the Cuckoo's Nest
/title/tt0073486/
tt0073486
-------------
Seven Samurai
/title/tt0047478/
tt0047478
-------------
Se7en
/title/tt0114369/
tt0114369
-------------
The Silence of the Lambs
/title/tt0102926/
tt0102926
-------------
City of God
/title/tt0317248/
tt0317248
-------------
Life Is Beautiful
/title/tt0118799/
tt0118799
-------------
It's a Wonderful Life
/title/tt0038650/
tt0038650
-------------
Saving Private Ryan
/title/tt0120815/
tt0120815
-------------
Star Wars: Episode IV - A New Hope
/title/tt0076759/
tt0076759
-------------
Interstellar
/title/tt0816692/
tt0816692
-------------
Spirited Away
/title/tt0245429/
tt0245429
-------------
The Green Mile
/title/tt0120689/
tt0120689
-------------
Parasite
/title/tt6751668/
tt6751668
-------------
Léon: The Professional
/title/tt0110413/
tt0110413
-------------
Hara-Kiri
/title/tt0056058/
tt0056058
-------------
The Pianist
/title/tt0253474/
tt0253474
-------------
Terminator 2: Judgment Day
/title/tt0103064/
tt0103064
-------------
Back to the Future
/title/tt0088763/
tt0088763
-------------
The Usual Suspects
/title/tt0114814/
tt0114814
-------------
Psycho
/title/tt0054215/
tt0054215
-------------
The Lion King
/title/tt0110357/
tt0110357
-------------
Modern Times
/title/tt0027977/
tt0027977
-------------
American History X
/title/tt0120586/
tt0120586
-------------
Grave of the Fireflies
/title/tt0095327/
tt0095327
-------------
City Lights
/title/tt0021749/
tt0021749
-------------
Whiplash
/title/tt2582802/
tt2582802
-------------
Gladiator
/title/tt0172495/
tt0172495
-------------
The Departed
/title/tt0407887/
tt0407887
-------------
The Intouchables
/title/tt1675434/
tt1675434
-------------
The Prestige
/title/tt0482571/
tt0482571
-------------
Casablanca
/title/tt0034583/
tt0034583
-------------
Once Upon a Time in the West
/title/tt0064116/
tt0064116
-------------
Rear Window
/title/tt0047396/
tt0047396
-------------
Cinema Paradiso
/title/tt0095765/
tt0095765
-------------
Alien
/title/tt0078748/
tt0078748
-------------
Apocalypse Now
/title/tt0078788/
tt0078788
-------------
Memento
/title/tt0209144/
tt0209144
-------------
Indiana Jones and the Raiders of the Lost Ark
/title/tt0082971/
tt0082971
-------------
The Great Dictator
/title/tt0032553/
tt0032553
-------------
Django Unchained
/title/tt1853728/
tt1853728
-------------
The Lives of Others
/title/tt0405094/
tt0405094
-------------
Paths of Glory
/title/tt0050825/
tt0050825
-------------
Sunset Blvd.
/title/tt0043014/
tt0043014
-------------
WALL·E
/title/tt0910970/
tt0910970
-------------
Avengers: Infinity War
/title/tt4154756/
tt4154756
-------------
Witness for the Prosecution
/title/tt0051201/
tt0051201
-------------
The Shining
/title/tt0081505/
tt0081505
-------------
Spider-Man: Into the Spider-Verse
/title/tt4633694/
tt4633694
-------------
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
/title/tt0057012/
tt0057012
-------------
Princess Mononoke
/title/tt0119698/
tt0119698
-------------
Oldboy
/title/tt0364569/
tt0364569
-------------
Joker
/title/tt7286456/
tt7286456
-------------
Your Name.
/title/tt5311514/
tt5311514
-------------
Coco
/title/tt2380307/
tt2380307
-------------
The Dark Knight Rises
/title/tt1345836/
tt1345836
-------------
Aliens
/title/tt0090605/
tt0090605
-------------
Once Upon a Time in America
/title/tt0087843/
tt0087843
-------------
Avengers: Endgame
/title/tt4154796/
tt4154796
-------------
Capernaum
/title/tt8267604/
tt8267604
-------------
Das Boot
/title/tt0082096/
tt0082096
-------------
High and Low
/title/tt0057565/
tt0057565
-------------
3 Idiots
/title/tt1187043/
tt1187043
-------------
Toy Story
/title/tt0114709/
tt0114709
-------------
American Beauty
/title/tt0169547/
tt0169547
-------------
Amadeus
/title/tt0086879/
tt0086879
-------------
Braveheart
/title/tt0112573/
tt0112573
-------------
Inglourious Basterds
/title/tt0361748/
tt0361748
-------------
Hamilton
/title/tt8503618/
tt8503618
-------------
Good Will Hunting
/title/tt0119217/
tt0119217
-------------
Star Wars: Episode VI - Return of the Jedi
/title/tt0086190/
tt0086190
-------------
2001: A Space Odyssey
/title/tt0062622/
tt0062622
-------------
Reservoir Dogs
/title/tt0105236/
tt0105236
-------------
M
/title/tt0022100/
tt0022100
-------------
Like Stars on Earth
/title/tt0986264/
tt0986264
-------------
Come and See
/title/tt0091251/
tt0091251
-------------
Vertigo
/title/tt0052357/
tt0052357
-------------
Citizen Kane
/title/tt0033467/
tt0033467
-------------
The Hunt
/title/tt2106476/
tt2106476
-------------
Requiem for a Dream
/title/tt0180093/
tt0180093
-------------
Singin' in the Rain
/title/tt0045152/
tt0045152
-------------
North by Northwest
/title/tt0053125/
tt0053125
-------------
Eternal Sunshine of the Spotless Mind
/title/tt0338013/
tt0338013
-------------
Bicycle Thieves
/title/tt0040522/
tt0040522
-------------
Ikiru
/title/tt0044741/
tt0044741
-------------
Lawrence of Arabia
/title/tt0056172/
tt0056172
-------------
The Kid
/title/tt0012349/
tt0012349
-------------
Full Metal Jacket
/title/tt0093058/
tt0093058
-------------
Dangal
/title/tt5074352/
tt5074352
-------------
The Apartment
/title/tt0053604/
tt0053604
-------------
Incendies
/title/tt1255953/
tt1255953
-------------
The Father
/title/tt10272386/
tt10272386
-------------
Metropolis
/title/tt0017136/
tt0017136
-------------
Double Indemnity
/title/tt0036775/
tt0036775
-------------
A Clockwork Orange
/title/tt0066921/
tt0066921
-------------
Taxi Driver
/title/tt0075314/
tt0075314
-------------
A Separation
/title/tt1832382/
tt1832382
-------------
The Sting
/title/tt0070735/
tt0070735
-------------
Pather Panchali
/title/tt0048473/
tt0048473
-------------
Scarface
/title/tt0086250/
tt0086250
-------------
Snatch
/title/tt0208092/
tt0208092
-------------
1917
/title/tt8579674/
tt8579674
-------------
Amélie
/title/tt0211915/
tt0211915
-------------
To Kill a Mockingbird
/title/tt0056592/
tt0056592
-------------
Toy Story 3
/title/tt0435761/
tt0435761
-------------
For a Few Dollars More
/title/tt0059578/
tt0059578
-------------
Up
/title/tt1049413/
tt1049413
-------------
Indiana Jones and the Last Crusade
/title/tt0097576/
tt0097576
-------------
Heat
/title/tt0113277/
tt0113277
-------------
L.A. Confidential
/title/tt0119488/
tt0119488
-------------
Yojimbo
/title/tt0055630/
tt0055630
-------------
Die Hard
/title/tt0095016/
tt0095016
-------------
Ran
/title/tt0089881/
tt0089881
-------------
Jai Bhim
/title/tt15097216/
tt15097216
-------------
Rashomon
/title/tt0042876/
tt0042876
-------------
Green Book
/title/tt6966692/
tt6966692
-------------
Downfall
/title/tt0363163/
tt0363163
-------------
Monty Python and the Holy Grail
/title/tt0071853/
tt0071853
-------------
All About Eve
/title/tt0042192/
tt0042192
-------------
Some Like It Hot
/title/tt0053291/
tt0053291
-------------
Batman Begins
/title/tt0372784/
tt0372784
-------------
Unforgiven
/title/tt0105695/
tt0105695
-------------
Children of Heaven
/title/tt0118849/
tt0118849
-------------
Howl's Moving Castle
/title/tt0347149/
tt0347149
-------------
The Wolf of Wall Street
/title/tt0993846/
tt0993846
-------------
Judgment at Nuremberg
/title/tt0055031/
tt0055031
-------------
The Great Escape
/title/tt0057115/
tt0057115
-------------
There Will Be Blood
/title/tt0469494/
tt0469494
-------------
Casino
/title/tt0112641/
tt0112641
-------------
The Treasure of the Sierra Madre
/title/tt0040897/
tt0040897
-------------
Pan's Labyrinth
/title/tt0457430/
tt0457430
-------------
A Beautiful Mind
/title/tt0268978/
tt0268978
-------------
The Secret in Their Eyes
/title/tt1305806/
tt1305806
-------------
Raging Bull
/title/tt0081398/
tt0081398
-------------
Dersu Uzala
/title/tt0071411/
tt0071411
-------------
Chinatown
/title/tt0071315/
tt0071315
-------------
My Neighbor Totoro
/title/tt0096283/
tt0096283
-------------
Lock, Stock and Two Smoking Barrels
/title/tt0120735/
tt0120735
-------------
Shutter Island
/title/tt1130884/
tt1130884
-------------
No Country for Old Men
/title/tt0477348/
tt0477348
-------------
The Gold Rush
/title/tt0015864/
tt0015864
-------------
Dial M for Murder
/title/tt0046912/
tt0046912
-------------
The Thing
/title/tt0084787/
tt0084787
-------------
The Seventh Seal
/title/tt0050976/
tt0050976
-------------
Three Billboards Outside Ebbing, Missouri
/title/tt5027774/
tt5027774
-------------
The Elephant Man
/title/tt0080678/
tt0080678
-------------
Klaus
/title/tt4729430/
tt4729430
-------------
The Sixth Sense
/title/tt0167404/
tt0167404
-------------
Dune
/title/tt1160419/
tt1160419
-------------
Wild Strawberries
/title/tt0050986/
tt0050986
-------------
The Third Man
/title/tt0041959/
tt0041959
-------------
The Truman Show
/title/tt0120382/
tt0120382
-------------
Jurassic Park
/title/tt0107290/
tt0107290
-------------
Memories of Murder
/title/tt0353969/
tt0353969
-------------
V for Vendetta
/title/tt0434409/
tt0434409
-------------
Blade Runner
/title/tt0083658/
tt0083658
-------------
Trainspotting
/title/tt0117951/
tt0117951
-------------
Inside Out
/title/tt2096673/
tt2096673
-------------
The Bridge on the River Kwai
/title/tt0050212/
tt0050212
-------------
Fargo
/title/tt0116282/
tt0116282
-------------
Warrior
/title/tt1291584/
tt1291584
-------------
Finding Nemo
/title/tt0266543/
tt0266543
-------------
Kill Bill: Vol. 1
/title/tt0266697/
tt0266697
-------------
Gone with the Wind
/title/tt0031381/
tt0031381
-------------
Tokyo Story
/title/tt0046438/
tt0046438
-------------
On the Waterfront
/title/tt0047296/
tt0047296
-------------
My Father and My Son
/title/tt0476735/
tt0476735
-------------
Wild Tales
/title/tt3011894/
tt3011894
-------------
Stalker
/title/tt0079944/
tt0079944
-------------
The Deer Hunter
/title/tt0077416/
tt0077416
-------------
Z
/title/tt0065234/
tt0065234
-------------
Prisoners
/title/tt1392214/
tt1392214
-------------
The Grand Budapest Hotel
/title/tt2278388/
tt2278388
-------------
Sherlock Jr.
/title/tt0015324/
tt0015324
-------------
The General
/title/tt0017925/
tt0017925
-------------
Gran Torino
/title/tt1205489/
tt1205489
-------------
Persona
/title/tt0060827/
tt0060827
-------------
Before Sunrise
/title/tt0112471/
tt0112471
-------------
Mary and Max
/title/tt0978762/
tt0978762
-------------
Catch Me If You Can
/title/tt0264464/
tt0264464
-------------
Mr. Smith Goes to Washington
/title/tt0031679/
tt0031679
-------------
In the Name of the Father
/title/tt0107207/
tt0107207
-------------
Barry Lyndon
/title/tt0072684/
tt0072684
-------------
Room
/title/tt3170832/
tt3170832
-------------
Gone Girl
/title/tt2267998/
tt2267998
-------------
Hacksaw Ridge
/title/tt2119532/
tt2119532
-------------
The Passion of Joan of Arc
/title/tt0019254/
tt0019254
-------------
Andhadhun
/title/tt8108198/
tt8108198
-------------
Ford v Ferrari
/title/tt1950186/
tt1950186
-------------
12 Years a Slave
/title/tt2024544/
tt2024544
-------------
To Be or Not to Be
/title/tt0035446/
tt0035446
-------------
The Big Lebowski
/title/tt0118715/
tt0118715
-------------
Autumn Sonata
/title/tt0077711/
tt0077711
-------------
Dead Poets Society
/title/tt0097165/
tt0097165
-------------
How to Train Your Dragon
/title/tt0892769/
tt0892769
-------------
Mad Max: Fury Road
/title/tt1392190/
tt1392190
-------------
Ben-Hur
/title/tt0052618/
tt0052618
-------------
Harry Potter and the Deathly Hallows: Part 2
/title/tt1201607/
tt1201607
-------------
Million Dollar Baby
/title/tt0405159/
tt0405159
-------------
The Wages of Fear
/title/tt0046268/
tt0046268
-------------
The Handmaiden
/title/tt4016934/
tt4016934
-------------
Stand by Me
/title/tt0092005/
tt0092005
-------------
Network
/title/tt0074958/
tt0074958
-------------
Logan
/title/tt3315342/
tt3315342
-------------
Gangs of Wasseypur
/title/tt1954470/
tt1954470
-------------
Cool Hand Luke
/title/tt0061512/
tt0061512
-------------
Hachi: A Dog's Tale
/title/tt1028532/
tt1028532
-------------
La Haine
/title/tt0113247/
tt0113247
-------------
The 400 Blows
/title/tt0053198/
tt0053198
-------------
A Silent Voice: The Movie
/title/tt5323662/
tt5323662
-------------
Platoon
/title/tt0091763/
tt0091763
-------------
Spotlight
/title/tt1895587/
tt1895587
-------------
Monsters, Inc.
/title/tt0198781/
tt0198781
-------------
Rebecca
/title/tt0032976/
tt0032976
-------------
Life of Brian
/title/tt0079470/
tt0079470
-------------
Hotel Rwanda
/title/tt0395169/
tt0395169
-------------
The Bandit
/title/tt0116231/
tt0116231
-------------
In the Mood for Love
/title/tt0118694/
tt0118694
-------------
Rush
/title/tt1979320/
tt1979320
-------------
Into the Wild
/title/tt0758758/
tt0758758
-------------
Rocky
/title/tt0075148/
tt0075148
-------------
Amores perros
/title/tt0245712/
tt0245712
-------------
Nausicaä of the Valley of the Wind
/title/tt0087544/
tt0087544
-------------
Andrei Rublev
/title/tt0060107/
tt0060107
-------------
It Happened One Night
/title/tt0025316/
tt0025316
-------------
Before Sunset
/title/tt0381681/
tt0381681
-------------
Fanny and Alexander
/title/tt0083922/
tt0083922
-------------
Neon Genesis Evangelion: The End of Evangelion
/title/tt0169858/
tt0169858
-------------
The Battle of Algiers
/title/tt0058946/
tt0058946
-------------
96
/title/tt7019842/
tt7019842
-------------
Nights of Cabiria
/title/tt0050783/
tt0050783
-------------
The Princess Bride
/title/tt0093779/
tt0093779
-------------
Paris, Texas
/title/tt0087884/
tt0087884
-------------
Soorarai Pottru
/title/tt10189514/
tt10189514

In [71]:
# push top 250 to imdb_top_250_movies table
session.commit()

In [72]:
# close session
session.close()