In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,ForeignKey
from sqlalchemy import Column, Date, Integer, String,Float
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
#Read imdb names .csv file
names_csv=pd.read_csv('Raw_Data\\IMDb names.csv')

In [3]:
len(names_csv)

297705

In [4]:
names_csv.head()

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [5]:
#Checks max lenghts of all string i.e. object columns
for c in names_csv:
    if names_csv[c].dtype=='object':
        print(f'{c} {names_csv[c].str.len().max()}')

imdb_name_id 10
name 54
birth_name 217
bio 40729.0
birth_details 184.0
date_of_birth 105.0
place_of_birth 167.0
death_details 171.0
date_of_death 94.0
place_of_death 112.0
reason_of_death 119.0
spouses_string 585.0

In [6]:
#If date_of_birth value is nan or length is >10 then defualt to NaN.
names_csv['date_of_birth'] = [ np.nan if pd.isnull(x) or len(x)>10  else x for x in names_csv['date_of_birth'] ]

In [7]:
#Verify Max length of the column is 10
names_csv['date_of_birth'].dropna().str.len().max()

10

In [8]:
#Convert dob column to datetime
# There is one dob of value '1564-04-23'.Pandas only recognizes dates >= '1677-09-21' (pd.Timestamp.min).
#errors='coerce' changes it outbound date values to NaT
names_csv['date_of_birth']=pd.to_datetime(names_csv['date_of_birth'],format='%Y-%m-%d',errors = 'coerce')

In [9]:
#Date Of death values with lenght grater than 10
[x for x in names_csv['date_of_death'].dropna() if len(x)>10]

['2017 in\xa0Québec, Canada',
 '2001 in\xa0Spain',
 '1999 in\xa0Rome, Lazio, Italy',
 '1972 in\xa0Beirut, Lebanon',
 '2006 in\xa0Chiltern, Buckinghamshire, England, UK',
 '1973 in\xa0Mexico',
 '1962 in\xa0Taunton, Somerset, UK',
 '1996 in\xa0Mexico, D.F., Mexico',
 '1965 in\xa0Georgetown, Guyana',
 '456 BC in\xa0Gela, Sicily, Italy',
 '1992 in\xa0Moscow, Russia',
 '1996 in\xa0Rome, Lazio, Italy',
 '1983 in\xa0Madrid, Spain',
 '1723 in\xa0Beja, Portugal',
 '1995 in\xa0Javea, Valencia, Spain',
 '1998 in\xa0Quezon City, Philippines \xa0(skin cancer)',
 '1992 in\xa0Istanbul, Turkey',
 '2001 in\xa0Istanbul, Turkey',
 '1994 in\xa0Moscow, Russia',
 '1997 in\xa0Philippines \xa0(cardiac arrest)',
 '1991 in\xa0Izmir, Turkey',
 '1959 in\xa0London, England, UK',
 '1975 in\xa0Belgrade, Yugoslavia',
 '1986 in\xa0Chiltern & Beaconsfield, Buckinghamshire, England, UK',
 '1994 in\xa0Greece',
 '1924 in\xa0France',
 '2009 in\xa0Lambeth, London, England, UK',
 '1998 in\xa0New York City, New York, USA',
 '1952 in\xa0Belgrade, Serbia, Yugoslavia',
 '1977 in\xa0England, UK',
 '2002 in\xa0Moscow, Russia',
 'c. 388 BC in\xa0Greece',
 '1996 in\xa0Istanbul, Turkey',
 '1958 in\xa0Surrey, England, UK',
 '2004 in\xa0Madrid, Madrid, Spain',
 '1992 in\xa0Istanbul, Turkey',
 '1987 in\xa0Istanbul, Turkey',
 '1966 in\xa0Lagny-sur-Marne, Seine-et-Marne, France',
 '1993 in\xa0Japan',
 '1960 in\xa0England',
 '1999 in\xa0Paris, France',
 '1966 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil',
 '1992 in\xa0Ljubljana, Slovenia',
 '1991 in\xa0Belgrade, Serbia, Yugoslavia',
 '1995 in\xa0Madrid, Spain',
 '1945 in\xa0USSR',
 '1970 in\xa0London, England, UK',
 '1954 in\xa0Chichester, England, UK',
 '1971 in\xa0India',
 '2003 in\xa0Istanbul, Turkey',
 '1978 in\xa0Montréal, Québec, Canada',
 '2004 in\xa0Canada',
 '1995 in\xa0Norfolk, England, UK',
 '2011 in\xa0Germany',
 '1986 in\xa0Palm Beach, Florida, USA',
 '1989 in\xa0Calcutta, West Bengal, India',
 '1993 in\xa0Bombay, Maharashtra, India',
 '1960 in\xa0Marylebone, London, England, UK',
 '1914 in\xa0Mexico',
 '1993 in\xa0Istanbul, Turkey',
 'August 6, 1999  \xa0(head injury)',
 '2006 in\xa0Istanbul, Turkey',
 '2006 in\xa0New Zealand',
 '1991 in\xa0Montréal, Québec, Canada',
 '1963 in\xa0Paddington, London, England, UK',
 '1982 in\xa0Italy',
 '2002 in\xa0Staten Island, New York, USA \xa0(leukemia)',
 '1997 in\xa0Rome, Lazio, Italy \xa0(heart attack)',
 '1996 in\xa0North Yorkshire, England, UK',
 '1968 in\xa0England, UK',
 '2001 in\xa0Italy',
 '2007 in\xa0Glasgow, Scotland, UK',
 '1973 in\xa0Richmond upon Thames, Surrey, England, UK',
 '1987 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil \xa0(lung edema)',
 '2005 in\xa0Tunbridge Wells, Kent, England, UK',
 '1944 in\xa0Paris, France',
 '1954 in\xa0Brighton, Sussex, England, UK',
 '1984 in\xa0Mexico',
 '1994 in\xa0Petrova Gora, Croatia',
 '2003 in\xa0Cheltenham, Gloucestershire, England, UK',
 '1919 in\xa0Cluj, Romania',
 '1975 in\xa0Essex, England, UK',
 '1961 in\xa0South Africa',
 '1932 in\xa0Los Angeles, California, USA',
 '1997 in\xa0Sarajevo, Bosnia and Herzegovina',
 '1982 in\xa0Isle of Wight, England, UK',
 '1981 in\xa0Hampshire, England, UK',
 '1962 in\xa0USA',
 '1990 in\xa0Istanbul, Turkey',
 '2013 in\xa0USA',
 '1974 in\xa0Essex, England, UK',
 '1958 in\xa0Hendon, London, England, UK',
 '1991 in\xa0Oslo, Norway',
 '1990 in\xa0Mexico, D.F., Mexico',
 '1970 in\xa0Jalisco, Mexico',
 '1966 in\xa0Madrid, Spain',
 '1996 in\xa0China',
 '1996 in\xa0Athens, Greece',
 '1978 in\xa0Mexico, D.F., Mexico',
 '1998 in\xa0London, England, UK',
 '1993 in\xa0Austria',
 '1993 in\xa0Istanbul, Turkey',
 '2011 in\xa0Belgrade, Serbia',
 '1961 in\xa0Argentina',
 '1980 in\xa0Calcutta, West Bengal, India',
 '1927 in\xa0Fontainebleau, Seine-et-Marne, France',
 '2010 in\xa0Singapore \xa0(lung & colon cancer)',
 '2005 in\xa0Taiwan',
 '1934 in\xa0Odessa, Ukrainian SSR, USSR [now Ukraine] \xa0(liver cancer)',
 '1957 in\xa0London, England, UK \xa0(gassed)',
 '2013 in\xa0Shenzhen, Guangzhou, China \xa0(cerebral hemorrhage)',
 '1993 in\xa0Tunbridge Wells, Kent, England, UK',
 '1998 in\xa0Russia',
 '1991 in\xa0Hong Kong \xa0(cancer)',
 '2004 in\xa0Tbilisi, Georgia \xa0(car accident)',
 '1951 in\xa0Maidenhead, Berkshire, England, UK \xa0(plane crash)',
 '1983 in\xa0Thessaloniki, Greece',
 '1979 in\xa0Sussex, England, UK',
 '2003 in\xa0Italy',
 '1980 in\xa0Phoenix, Arizona, USA',
 '1789 in\xa0England',
 '1976 in\xa0Germany',
 '1951 in\xa0London, England, UK',
 '1999 in\xa0Wandsworth, London, England, UK',
 '1977 in\xa0Kensington, London, England, UK',
 '1983 in\xa0Rio de Janeiro, Brazil \xa0(pulmonary edema)',
 '1977 in\xa0Surrey, England, UK',
 '1989  \xa0(USA)',
 '1973 in\xa0Italy',
 '1999 in\xa0Rome, Italy \xa0(natural causes)',
 '1903 in\xa0Paris, France',
 '1984 in\xa0Rio de Janeiro, Rio de Janeiro, Brazil',
 '1990 in\xa0San Fernando Valley, California, USA \xa0(heart attack)',
 '2005 in\xa0Somerset, England, UK',
 '1954 in\xa0Milan, Italy',
 '1998 in\xa0Richmond-upon-Thames, Greater London, England, UK',
 '1993 in\xa0Belgrade, Serbia, Yugoslavia',
 '2009 in\xa0Bracknell, Berkshire, England, UK',
 '1977 in\xa0Camden, London, England, UK',
 '1992 in\xa0Madrid, Spain',
 '1971 in\xa0Boulogne-Billancourt, Hauts-de-Seine, France',
 '1975 in\xa0Kent, England, UK',
 '1982 in\xa0Athens, Greece \xa0(heart attack)',
 '1971 in\xa0Wycombe, Buckinghamshire, England, UK',
 '2014 in\xa0Hawaii, USA',
 '1993 in\xa0Greece',
 '1995 in\xa0Hounslow, London, England, UK',
 '1990  \xa0(pancreatic cancer)',
 '1978 in\xa0London, England, UK',
 '2011 in\xa0Australia',
 "1994  \xa0(non-Hodgkin's lymphoma)",
 '1998 in\xa0Istanbul, Turkey',
 '1990 in\xa0USA',
 '1996 in\xa0Lawrence, Kansas, USA',
 '1988 in\xa0Xàtiva, Comunidad Valenciana, Spain',
 '2009 in\xa0West Sussex, England, UK',
 '1980 in\xa0Kent, England, UK',
 '2000 in\xa0France',
 '1977 in\xa0Paris, France \xa0(heart attack)',
 '1987 in\xa0USSR [now Russia]',
 '1978 in\xa0Buenos Aires, Argentina',
 '1992 in\xa0Nice, Alpes-Maritimes, France',
 '1978 in\xa0Montpellier, Hérault, France',
 '1996 in\xa0Istanbul, Turkey',
 '2008 in\xa0Istanbul, Turkey',
 '1997 in\xa0Australia',
 '2002 in\xa0San Diego, California, USA',
 '1983 in\xa0Rome, Italy',
 '1955 in\xa0Calcutta, West Bengal, India \xa0(influenza)',
 '2003 in\xa0Los Angeles, California, USA',
 '1968 in\xa0Genoa, Liguria, Italy',
 '2001 in\xa0Mitcham, Surrey, England, UK',
 '1982 in\xa0Ealing, London, England, UK',
 '1999 in\xa0England, UK',
 '1943 in\xa0Massachusetts, USA',
 '1996 in\xa0Wandsworth, London, England, UK',
 '1987 in\xa0South Africa',
 '1976 in\xa0Mexico',
 '1973 in\xa0Lambeth, London, England, UK',
 '2017 in\xa0Los Angeles, California, USA',
 '1967 in\xa0Athens, Greece',
 '1997 in\xa0Towson, Maryland, USA \xa0(cancer)',
 '1977 in\xa0Qingdao, Shandong, China',
 '1973 in\xa0Moscow, USSR',
 '1995 in\xa0Bournemouth, Dorset, England, UK',
 '1981  \xa0(cancer)',
 '1984 in\xa0Istanbul, Turkey',
 '1992 in\xa0Istanbul, Turkey',
 '1988 in\xa0Mexico, D.F., Mexico',
 '1958 in\xa0Madrid, Spain',
 '1989 in\xa0Italy',
 '1974 in\xa0Cairo, Egypt',
 '1987 in\xa0Egypt',
 '1976 in\xa0Mexico, D.F., Mexico',
 '1982 in\xa0South Glamorgan, Wales, UK',
 '1983 in\xa0Atlanta, Georgia, USA \xa0(heart attack)',
 '1989 in\xa0Istanbul, Turkey',
 '1987 in\xa0Turkey',
 '2004 in\xa0Barcelona, Barcelona, Catalonia, Spain',
 '1965 in\xa0Buenos Aires, Argentina',
 '406 BC in\xa0Pella-Macedonia, Greece',
 '1953 in\xa0Wartberg an der Krems, Austria',
 '1945 in\xa0Auschwitz-Birkenau Concentration Camp, Oswiecim, Malopolskie, Poland',
 '1957 in\xa0Stockholm, Stockholms län, Sweden',
 '1985 in\xa0Rio de Janeiro, Brazil',
 '2000 in\xa0Paris, France',
 '1951 in\xa0China',
 '1947 in\xa0Cluj, Romania',
 '1966 in\xa0Los Angeles, California, USA',
 '1964 in\xa0Madrid, Spain',
 '2011 in\xa0Spain',
 '1965 in\xa0Rome, Lazio, Italy',
 '1964 in\xa0Westminster, London, England, UK',
 '1997 in\xa0Istanbul, Turkey',
 '1982 in\xa0Istanbul, Turkey',
 '1975 in\xa0Rome, Lazio, Italy',
 '2000 in\xa0Montreal, Quebec, Canada',
 '1999 in\xa0Italy',
 '2012 in\xa0Tehran, Iran \xa0(pneumonia)',
 '2019 in\xa0UK \xa0(cancer)',
 '1982 in\xa0Torbay, Devon, England, UK',
 '1954 in\xa0Moscow, RSFSR, USSR [now Russia]',
 '2000 in\xa0Barcelona, Spain',
 '1991 in\xa0Istanbul, Turkey',
 '2006 in\xa0Westminster, London, England, UK',
 '1939 in\xa0Los Angeles, California, USA',
 '1993 in\xa0Rome, Lazio, Italy',
 '1989 in\xa0Spain \xa0(emphysema)',
 '1960 in\xa0Soviet Union [now Russia]',
 '1980 in\xa0London, England, UK',
 '1943 in\xa0London, England, UK',
 '1941 in\xa0Moscow, Soviet Union [now Russia] \xa0(lung cancer)',
 '1988 in\xa0Houslow, London, England, UK',
 '1982 in\xa0Argentina',
 "2005 in\xa0Australia \xa0(Alzheimer's disease)",
 '1959 in\xa0Rome, Lazio, Italy',
 '1980 in\xa0Mexico, D.F., Mexico',
 '1999 in\xa0Italy',
 '1930 in\xa0Salcombe Harbour, Devon, England, UK \xa0(presumed drowned)',
 '1959 in\xa0Australia',
 '2000 in\xa0Barcelona, Catalonia, Spain',
 '1998 in\xa0Lafayette, Louisiana, USA',
 '1976 in\xa0Salzburg, Austria',
 '1995 in\xa0Parma, Emilia-Romagna, Italy',
 '1999 in\xa0Viterbo, Lazio, Italy',
 '1999 in\xa0Athens, Greece \xa0(cancer)',
 '2005 in\xa0Italy',
 '1980 in\xa0Calcutta, West Bengal, India',
 '1975 in\xa0Rome, Lazio, Italy',
 '2001 in\xa0Italy',
 '1929 in\xa0Australia',
 '1973 in\xa0Brussels, Belgium',
 '1963 in\xa0London, England, UK',
 '1979 in\xa0London, England, UK',
 '1956 in\xa0Los Angeles, California, USA',
 '2002 in\xa0Isle of Wight, England, UK',
 '1974 in\xa0London, England, UK',
 '1957 in\xa0India',
 '2008 in\xa0Pulborough, West Sussex, England, UK',
 '1972 in\xa0Hampshire, England, UK',
 'c. 1220 in\xa0Denmark',
 '1983 in\xa0Miami, Florida, USA',
 '1992 in\xa0England, UK',
 '1979 in\xa0Paris, France',
 '1988 in\xa0England, UK',
 '2000 in\xa0New Zealand \xa0(breast cancer)',
 '1983 in\xa0Spain \xa0(during heart surgery)',
 '1990 in\xa0Turkey',
 '2003 in\xa0Stockholm, Sweden',
 '1974  \xa0(acute asthma attack)',
 '1994 in\xa0Istanbul, Turkey',
 '1982 in\xa0Istanbul, Turkey',
 '1996 in\xa0Madrid, Spain',
 '1979 in\xa0Oslo, Norway',
 '1941 in\xa0Rome, Lazio, Italy',
 '1973 in\xa0London, England, UK',
 '1981 in\xa0Istanbul, Turkey',
 '1994 in\xa0London, England, UK',
 '2012 in\xa0Paignton, Devon, England, UK',
 '2009 in\xa0Paignton, Devon, England, UK',
 '1981 in\xa0Mexico City, Distrito Federal, Mexico',
 '1968 in\xa0Buckinghamshire, England, UK',
 '1982 in\xa0Wandsworth, London, England, UK',
 '1977 in\xa0Wandsworth, London, England, UK',
 '1998 in\xa0Banbury, Oxfordshire, England, UK \xa0(emphysema)',
 '1971 in\xa0Yeovil, Somerset, England, UK',
 '2018 in\xa0Plymouth, Devon, England, UK',
 '1963 in\xa0Marylebone, London, England, UK',
 '1990 in\xa0Arusha, Tanzania \xa0(AIDS)',
 '1979 in\xa0London, England, UK',
 '1998 in\xa0Switzerland',
 '2002 in\xa0Grosseto, Tuscany, Italy',
 '1958 in\xa0London, England, UK \xa0(suicide)',
 '1968 in\xa0Australia',
 '1977 in\xa0Nîmes, Gard, France \xa0(suicide by hanging)',
 '2002 in\xa0Hereford, Herefordshire, England, UK',
 '1979 in\xa0Istanbul, Turkey \xa0(cirrhosis)',
 '1976 in\xa0Hampshire, England, UK',
 '1957 in\xa0New York, USA',
 '1999 in\xa0Surrey, England, UK',
 '1975 in\xa0Sidmouth, Devon, England, UK',
 '1971 in\xa0USA',
 '1999 in\xa0England, UK',
 '1972 in\xa0Hillingdon, Middlesex, London, England, UK',
 '1990 in\xa0Les Mureaux, France \xa0(motorcycle accident)',
 'c. 800 BC in\xa0Ancient Greece',
 '1992 in\xa0Devon, England, UK',
 '1999 in\xa0Madrid, Spain',
 '2001 in\xa0Penzance, Cornwall, England, UK',
 '1942 in\xa0Tokyo, Japan',
 '1971 in\xa0Uckfield, East Sussex, England, UK',
 '1989 in\xa0Prague, Czechoslovakia [now Czech Republic]',
 '1988 in\xa0Japan',
 '1971 in\xa0Belgrade, Serbia, Yugoslavia',
 '1995 in\xa0Turkey',
 '1998 in\xa0Mexico, D.F., Mexico',
 '1980 in\xa0Istanbul, Turkey',
 '1974 in\xa0Thessaloniki, Greece',
 '1971 in\xa0Indonesia',
 '1993 in\xa0Japan',
 '1955 in\xa0Dade County, Florida, USA',
 '1960 in\xa0London, England, UK',
 '2004 in\xa0Nice, Alpes-Maritimes, France',
 '1961 in\xa0Cairo, Egypt \xa0(cancer)',
 '1969 in\xa0London, England, UK',
 '1957 in\xa0London, England, UK',
 '1978 in\xa0Worthing, Sussex, England, UK',
 '1949 in\xa0Wood Green, London, England, UK',
 '1982 in\xa0France',
 '1992 in\xa0Austria',
 '1986 in\xa0Rio de Janeiro, Brazil',
 '1972 in\xa0California, USA',
 '1987 in\xa0India',
 '1968 in\xa0Greece',
 '1987 in\xa0Bursa, Turkey',
 '1987  \xa0(cancer)',
 '1978 in\xa0London, England, UK',
 '1954 in\xa0Washington, District of Columbia, USA',
 '1949 in\xa0Hove, East Sussex, England, UK',
 '1993 in\xa0Merton, London, England, UK',
 '1986 in\xa0Istanbul, Turkey',
 '1974 in\xa0India',
 '2001 in\xa0Russia',
 '1971 in\xa0County Waterford, Ireland',
 '1986 in\xa0USA',
 '1984 in\xa0London, England, UK',
 '1996 in\xa0Moscow, Russia \xa0(cancer)',
 '1995 in\xa0Budapest, Hungary',
 '1971 in\xa0Hiroshima, Japan',
 '1989 in\xa0Tokyo, Japan',
 '2004 in\xa0Spain',
 '1995 in\xa0Prenzlau, Brandenburg, Germany',
 '1996 in\xa0Istanbul, Turkey',
 '1937  \xa0(executed after false conviction on political charges)',
 '1978 in\xa0Netherlands \xa0(lithium overdose)',
 '1978 in\xa0Japan',
 '1990 in\xa0London, England, UK',
 '1942 in\xa0Kremsier, Protectorate of Bohemia and Moravia [now Kromeriz, Czech Republic]',
 '1977 in\xa0Westminster, London, England, UK',
 '1999 in\xa0Formentera, Balearic Islands, Spain \xa0(AIDS)',
 '1996 in\xa0Russia',
 '1988 in\xa0Evry, Essonne, France',
 '1986 in\xa0Rio de Janeiro, RJ, Brazil',
 '1970 in\xa0London, England, UK',
 '1947 in\xa0USA',
 '1981 in\xa0Palma, Majorca, Spain',
 '1964 in\xa0Queens, New York, USA',
 '1975 in\xa0Seoul, South Korea \xa0(liver cirrhosis)',
 '1971 in\xa0Thanet, Kent, England, UK',
 '2004 in\xa0Bexhill-on-Sea, East Sussex, England, UK \xa0(MRSA)',
 '2002 in\xa0Reading, Berkshire, England, UK',
 '1989 in\xa0Rome, Lazio, Italy',
 '1996 in\xa0Camden, London, England, UK',
 '1940 in\xa0Shanghai, China',
 '1980 in\xa0Athens, Greece',
 '1959 in\xa0Maidstone, Kent, England, UK',
 '17 in\xa0Patavium, Roman Empire [now Padua, Veneto, Italy]',
 '1970 in\xa0Madrid, Spain',
 '1993 in\xa0Madrid, Spain',
 '2010 in\xa0Madrid, Madrid, Spain',
 '1980 in\xa0Worthing, Sussex, England, UK',
 '1933 in\xa0France',
 '1976 in\xa0Los Angeles, California, USA',
 '1999  \xa0(AIDS)',
 '2000 in\xa0Viterbo, Lazio, Italy',
 '2005 in\xa0Rome, Lazio, Italy',
 '1980 in\xa0Argentina',
 '1400 in\xa0China',
 '1955 in\xa0Devon, England, UK',
 '2006 in\xa0Pattaya, Thailand \xa0(esophageal cancer)',
 '1989 in\xa0Prague, Czechoslovakia [now Czech Republic]',
 '1996 in\xa0Madrid, Spain',
 '1992 in\xa0Rome, Italy',
 '1944 in\xa0Cairo, Egypt',
 '1976 in\xa0Pisa, Tuscany, Italy',
 '1984 in\xa0Athens, Greece',
 '1954 in\xa0Rome, Lazio, Italy',
 '1931 in\xa0Michigan, USA',
 '2009 in\xa0Germany \xa0(renal failure)',
 '1943 in\xa0Warsaw, Mazowieckie, Poland \xa0(murdered by Nazis)',
 '1995 in\xa0Berlin, Germany',
 'September 21, 19 BC in\xa0Brundisium [now Brindisi, Italy] \xa0(fever)',
 '1999 in\xa0Germany',
 '1987 in\xa0Mexico City, Mexico',
 '1983 in\xa0Santa Fe, New Mexico, USA \xa0(complications following heart surgery)',
 '1934 in\xa0Brussels, Belgium',
 '1966 in\xa0New York City, New York, USA',
 '1964 in\xa0London, England, UK',
 '1976 in\xa0London, England, UK',
 '1985 in\xa0USSR [now Russia]',
 '1926 in\xa0California, USA',
 '2018 in\xa0Falmouth, Cornwall, England, UK',
 '1990 in\xa0Italy',
 '1973 in\xa0Rome, Lazio, Italy',
 '1997 in\xa0Lisbon, Portugal',
 '1948 in\xa0Austria',
 '1991 in\xa0Athens, Greece',
 '1969 in\xa0Amsterdam, Noord-Holland, Netherlands',
 '1989 in\xa0Hong Kong',
 '1868 in\xa0Paris, France',
 '1627 in\xa0London, England, UK',
 '2000 in\xa0Rome, Lazio, Italy',
 'c. 1950 in\xa0England, UK',
 '1981 in\xa0Jamaica \xa0(road accident)',
 '2015 in\xa0Monterey, California, USA',
 '1979 in\xa0India',
 '1975 in\xa0Calcutta, West Bengal, India',
 '2015 in\xa0Los Angeles, California, USA \xa0(cancer)',
 '1997 in\xa0Oslo, Norway',
 '1961 in\xa0Bucharest, Romania',
 '1980 in\xa0London, England, UK',
 '1987 in\xa0Surrey, England, UK',
 '1983 in\xa0London, England, UK',
 '2000 in\xa0Bucharest, Romania \xa0(homicide)',
 '2005 in\xa0Italy',
 '1955 in\xa0London, England, UK',
 '1964 in\xa0East Grinstead, Surrey, England, UK',
 '1999 in\xa0West Sussex, England, UK',
 '1986 in\xa0Egypt',
 '1995 in\xa0Poland',
 '1995 in\xa0Istanbul, Turkey',
 '1957 in\xa0Cairo, Egypt',
 '1997 in\xa0India',
 '1031 in\xa0Japan',
 '1962 in\xa0London, England, UK',
 '1973 in\xa0Japan',
 '1983 in\xa0Bombay, Maharashtra, India',
 '1942 in\xa0Auschwitz-Birkenau Concentration Camp, Oswiecim, Malopolskie, Poland',
 '1976 in\xa0England, UK',
 '1966 in\xa0Israel',
 '2003 in\xa0Ynys Mon, Anglesey, Wales, UK',
 '1989 in\xa0Athens, Greece',
 '2002 in\xa0Verona, Italy',
 '1970 in\xa0Plovdiv, Bulgaria',
 '2001 in\xa0Japan',
 '1979 in\xa0London, England, UK',
 '1989 in\xa0Tucson, Arizona, USA',
 '1990 in\xa0Mexico',
 '2004 in\xa0Reading, Berkshire, England, UK',
 '1992  \xa0(stroke)',
 '1978  \xa0(car crash)',
 '1992 in\xa0Tokyo, Japan',
 '1993 in\xa0Belgrade, Serbia, Yugoslavia',
 '2015 in\xa0Rueil-Malmaison, Hauts-de-Seine, France \xa0(cancer)',
 '1979 in\xa0Leningrad, RSFSR, USSR [now St. Petersburg, Russia]',
 '2000 in\xa0Tekirdag, Turkey',
 '1994 in\xa0Poland',
 '1929 in\xa0Germany',
 '2010 in\xa0Buenos Aires, Argentina',
 '1971 in\xa0Twickenham, Middlesex, England, UK',
 '17 in\xa0Tomis, Moesia [now Constanta, Romania]',
 '1977 in\xa0Sao Paulo, Brazil',
 '1920 in\xa0Covadonga, Asturias, Spain',
 '1978 in\xa0Los Angeles, USA',
 '1987 in\xa0Rome, Lazio, Italy',
 '1988 in\xa0Russia',
 '2002 in\xa0Rome, Lazio, Italy',
 '1958 in\xa0Athens, Greece \xa0(cancer)',
 '1996 in\xa0Athens, Greece',
 '2007 in\xa0Watford, England',
 '1983 in\xa0London, England, UK',
 '1997 in\xa0Surrey, England, UK',
 '1956 in\xa0Rome, Lazio, Italy',
 '1998 in\xa0Budapest, Hungary',
 '1951 in\xa0Rio de Janeiro, Brazil \xa0(suicide)',
 '1977 in\xa0Birmingham, West Midlands, England, UK',
 '1983 in\xa0Madrid, Spain',
 '1923 in\xa0Madrid, Spain',
 '1981 in\xa0USA',
 '1986 in\xa0Polynesia',
 '2003 in\xa0Istanbul, Turkey \xa0(cancer)',
 '66 in\xa0Rome, Roman Empire \xa0(suicide)',
 '2011 in\xa0Greece',
 '1952 in\xa0Germany',
 '2004 in\xa0Australia \xa0(melanoma)',
 '2004 in\xa0Camden, London, England, UK',
 '1979 in\xa0Fidenza, Emilia-Romagna, Italy',
 '1969 in\xa0USA',
 '1998 in\xa0Havana, Cuba',
 '184 BC in\xa0Rome, Italy',
 '1993 in\xa0Prague, Czech Republic',
 '1979 in\xa0Holsworthy, Devon, England, UK',
 '2016 in\xa0Los Angeles, California, USA',
 '1989 in\xa0Belgrade, Serbia, Yugoslavia',
 '1993 in\xa0France',
 '1992 in\xa0Spain',
 '1997 in\xa0Hyderabad, Andhra Pradesh, India \xa0(natural causes)',
 '1935 in\xa0Paddington, Middlesex, London, England, UK',
 '1989 in\xa0Leningrad, RSFSR, USSR [now St. Petersburg, Russia]',
 '1998 in\xa0Slovenia',
 '2003 in\xa0Hove, East Sussex, England, UK',
 '1990 in\xa0Rome, Italy',
 '1996 in\xa0Kensington, London, England, UK',
 '1976 in\xa0Chelsea, London, England, UK',
 '1991 in\xa0Canary Islands, Spain',
 '2016 in\xa0Kensington, London, England, UK',
 '1973  \xa0(drowned)',
 '1987 in\xa0London, England, UK',
 '1995 in\xa0Brazil',
 '2006 in\xa0Hammersmith, London, England, UK',
 '1991 in\xa0Istanbul, Turkey',
 '1994 in\xa0Chennai, Tamilnadu, India \xa0(natural causes)',
 '2014 in\xa0Madrid, Spain',
 '1954 in\xa0France',
 '1993 in\xa0Ealing, London, England, UK',
 '2001 in\xa0Rome, Lazio, Italy',
 '1971 in\xa0Australia',
 '1988 in\xa0Oslo, Norway',
 '1990 in\xa0Edinburgh, Scotland, UK \xa0(suicide)',
 '1945 in\xa0Jacksonville, Florida, USA',
 '1984 in\xa0Buenos Aires, Argentina',
 '1999 in\xa0USA',
 '1987 in\xa0Brussels, Belgium',
 '1954 in\xa0Chile',
 '1994 in\xa0West Hollywood, California, USA \xa0(AIDS)',
 '1979 in\xa0Waltham Forest, London, England, UK',
 '1991 in\xa0Watford, Hertfordshire, England, UK',
 '1974 in\xa0Mexico City, Mexico',

In [10]:
#If date_of_birth value is nan or length is >10 then defualt to NaN.
names_csv['date_of_death'] = [ np.nan if pd.isnull(x) or len(x)>10  else x for x in names_csv['date_of_death'] ]

In [11]:
#Verify Max length of the column is 10
names_csv['date_of_death'].dropna().str.len().max()

10

In [12]:
#Convert dob column to datetime
# There is one dob of value '1616-04-23'.Pandas only recognizes dates >= '1677-09-21' (pd.Timestamp.min).
#errors='coerce' changes it outbound date values to NaT
names_csv['date_of_death']=pd.to_datetime(names_csv['date_of_death'],format='%Y-%m-%d',errors = 'coerce')

In [13]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [14]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [15]:
names_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297705 entries, 0 to 297704
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   imdb_name_id           297705 non-null  object
 1   name                   297705 non-null  object
 2   birth_name             297705 non-null  object
 3   height                 44681 non-null   float64
 4   bio                    204698 non-null  object
 5   birth_details          110612 non-null  object
 6   date_of_birth          101740 non-null  datetime64[ns]
 7   place_of_birth         103992 non-null  object
 8   death_details          39933 non-null   object
 9   date_of_death          39129 non-null   datetime64[ns]
 10  place_of_death         37038 non-null   object
 11  reason_of_death        22694 non-null   object
 12  spouses_string         45352 non-null   object
 13  spouses                297705 non-null  int64
 14  divorces               297705 non-null  int64
 15  spouses_with_children  297705 non-null  int64
 16  children               297705 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(10)
memory usage: 38.6+ MB

In [16]:
#declarative Base
Base = declarative_base()

In [17]:
#Create Engine movies_db
engine = create_engine("sqlite:///movies_db.sqlite")

In [18]:
# This creates the DB (movies_dv.sqllite) if it does not exist and connects to it
conn = engine.connect()

In [19]:
#Define class i.e table to be created in DB
class Names(Base):
    __tablename__='names'
    imdb_name_id = Column(String,primary_key=True)
    name = Column(String)
    birth_name = Column(String)
    height = Column(Float)
    bio  = Column(String)
    birth_details  = Column(String)
    date_of_birth = Column(Date)
    place_of_birth  = Column(String)
    death_details  = Column(String)
    date_of_death = Column(Date)
    place_of_death  = Column(String)
    reason_of_death  = Column(String)
    spouses_string  = Column(String)
    spouses = Column(Integer)
    divorces = Column(Integer)
    spouses_with_children = Column(Integer)
    children = Column(Integer)

In [20]:
#Creates 'names' table in DB
Base.metadata.create_all(engine)

In [21]:
#Inserts data from names_csv to names table in movies_db sqllite DB.
names_csv.to_sql('names',conn,index=False,if_exists='append')

In [22]:
conn.close()